# Author

Name: GANGABABU.M

github: https://github.com/GangababuGB

g.dev: https://g.dev/gangababu

In: https://www.linkedin.com/in/ganga-babu200495/

# Code:

#### CORE

In [83]:
import pandas as pd
from bs4 import BeautifulSoup
import requests, lxml, json
from itertools import zip_longest
import schedule
import time

In [84]:
def scrape_google_finance(ticker: str):
    # https://docs.python-requests.org/en/master/user/quickstart/#passing-parameters-in-urls
    params = {
        "hl": "en" # language
        }

    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.60 Safari/537.36",
        }

    html = requests.get(f"https://www.google.com/finance/quote/{ticker}", params=params, headers=headers, timeout=30)
    soup = BeautifulSoup(html.text, "lxml")
    
    ticker_data = {"right_panel_data": {},
                    "ticker_info": {}}
    
    ticker_data["ticker_info"]["title"] = soup.select_one(".zzDege").text
    ticker_data["ticker_info"]["current_price"] = soup.select_one(".AHmHk .fxKbKc").text
    
    right_panel_keys = soup.select(".gyFHrc .mfs7Fc")
    right_panel_values = soup.select(".gyFHrc .P6K39c")
    
    for key, value in zip_longest(right_panel_keys, right_panel_values):
        key_value = key.text.lower().replace(" ", "_")

        ticker_data["right_panel_data"][key_value] = value.text
    
    return ticker_data

In [3]:
data = scrape_google_finance(ticker="NIFTY_50:INDEXNSE")
print(json.dumps(data, indent=2))

{
  "right_panel_data": {
    "previous_close": "16,522.75",
    "day_range": "16,443.05 - 16,646.40",
    "year_range": "15,450.90 - 18,604.45"
  },
  "ticker_info": {
    "title": "NIFTY 50",
    "current_price": "16,628.00"
  }
}

In [187]:
# symbol = 'HDFCBANK:NSE'

In [5]:
# pip install schedule

In [4]:
def gf_sec_scrape():
    data = scrape_google_finance(ticker=symbol)
    print(data)

In [5]:
symbol = 'HDFCBANK:NSE'
schedule.every().seconds.do(gf_sec_scrape)
try:
    while True:
        schedule.run_pending()
except KeyboardInterrupt:
    pass

{'right_panel_data': {'previous_close': '₹1,394.85', 'day_range': '₹1,378.60 - ₹1,388.00', 'year_range': '₹1,278.30 - ₹1,725.00', 'market_cap': '7.70T INR', 'p/e_ratio': '20.28', 'dividend_yield': '1.12%', 'primary_exchange': 'NSE', 'ceo': 'Sashidhar Jagdishan', 'founded': 'Aug 1994', 'headquarters': 'Mumbai, MaharashtraIndia', 'website': 'hdfcbank.com', 'employees': '141,579'}, 'ticker_info': {'title': 'HDFC Bank Limited', 'current_price': '₹1,385.20'}}
{'right_panel_data': {'previous_close': '₹1,394.85', 'day_range': '₹1,378.60 - ₹1,388.00', 'year_range': '₹1,278.30 - ₹1,725.00', 'market_cap': '7.70T INR', 'p/e_ratio': '20.28', 'dividend_yield': '1.12%', 'primary_exchange': 'NSE', 'ceo': 'Sashidhar Jagdishan', 'founded': 'Aug 1994', 'headquarters': 'Mumbai, MaharashtraIndia', 'website': 'hdfcbank.com', 'employees': '141,579'}, 'ticker_info': {'title': 'HDFC Bank Limited', 'current_price': '₹1,385.20'}}

### Simple df

In [12]:
# initialize list of lists
BSE_Ticker_data = [['Sbi Life Insurance Company Ltd', '540719:BOM'],]
# Create the pandas DataFrame
BSE_Ticker = pd.DataFrame(BSE_Ticker_data, columns=['Title', 'Ticker'])

In [13]:
BSE_Ticker

                            Title      Ticker
0  Sbi Life Insurance Company Ltd  540719:BOM

In [15]:
BSE_Ticker.loc[len(BSE_Ticker)] = ['Sbi Life Insurance Company Ltd', '540719:BOM']

In [16]:
BSE_Ticker

                            Title      Ticker
0  Sbi Life Insurance Company Ltd  540719:BOM
1  Sbi Life Insurance Company Ltd  540719:BOM

### NSE

https://en.wikipedia.org/wiki/List_of_companies_listed_on_the_National_Stock_Exchange_of_India

In [83]:
NSE_Tickers_Url = 'https://en.wikipedia.org/wiki/List_of_companies_listed_on_the_National_Stock_Exchange_of_India'

In [10]:
TickerList = ['HDFCBANK:NSE','M&M:NSE','NIFTY_50:INDEXNSE']
BSE_TL = ['540719:BOM',]
TickerList[0]

'HDFCBANK:NSE'

In [164]:
NSE_Tickers_df = pd.read_html(NSE_Tickers_Url)[:27]

In [165]:
len(NSE_Tickers_df)

27

In [166]:
NSE_Tickers_df[0]

            Symbol                              Company name
0   NSE: 20MICRONS                        20 Microns Limited
1  NSE: 21STCENMGM  21st Century Management Services Limited
2  NSE: 3IINFOTECH                       3i Infotech Limited
3     NSE: 3MINDIA                          3M India Limited
4      NSE: 3PLAND                  3P Land Holdings Limited
5     NSE: 3RDROCK               3rd Rock Multimedia Limited
6      NSE: 5PAISA                    5Paisa Capital Limited
7     NSE: 63MOONS             63 Moons Technologies Limited

In [167]:
NSE_Listed_Tickers_df= pd.concat(NSE_Tickers_df).reset_index(drop=True)
# NSE_Listed_Tickers_df.tail()

In [168]:
NSE_Listed_Tickers_df.head()

            Symbol                              Company name
0   NSE: 20MICRONS                        20 Microns Limited
1  NSE: 21STCENMGM  21st Century Management Services Limited
2  NSE: 3IINFOTECH                       3i Infotech Limited
3     NSE: 3MINDIA                          3M India Limited
4      NSE: 3PLAND                  3P Land Holdings Limited

In [169]:
NSE_Listed_Tickers_df['Symbol'] = NSE_Listed_Tickers_df['Symbol'].str.slice(5,)
NSE_Listed_Tickers_df.head()

       Symbol                              Company name
0   20MICRONS                        20 Microns Limited
1  21STCENMGM  21st Century Management Services Limited
2  3IINFOTECH                       3i Infotech Limited
3     3MINDIA                          3M India Limited
4      3PLAND                  3P Land Holdings Limited

In [170]:
NSE_Listed_Tickers_df['Symbol'] = NSE_Listed_Tickers_df['Symbol'] + ':NSE'
NSE_Listed_Tickers_df.head()

           Symbol                              Company name
0   20MICRONS:NSE                        20 Microns Limited
1  21STCENMGM:NSE  21st Century Management Services Limited
2  3IINFOTECH:NSE                       3i Infotech Limited
3     3MINDIA:NSE                          3M India Limited
4      3PLAND:NSE                  3P Land Holdings Limited

In [171]:
NSE_Listed_Tickers_df.to_csv('NSE_All_Listed_Tickers.csv')

### NSE NIFTY 50

In [52]:
Nift_50_Tickers = 'https://en.wikipedia.org/wiki/NIFTY_50#Constituents'

In [53]:
Nift_50_Tickers_df = pd.read_html(Nift_50_Tickers)[1]

In [54]:
len(Nift_50_Tickers_df)

50

In [55]:
Nift_50_Tickers_df.tail()

                 Company Name      Symbol                      Sector
45              Tech Mahindra       TECHM      Information Technology
46              Titan Company       TITAN           Consumer Durables
47           UltraTech Cement  ULTRACEMCO                      Cement
48  United Phosphorus Limited         UPL                   Chemicals
49                      Wipro       WIPRO  Information Technology[15]

In [122]:
Nift_50_Tickers_df['Symbol'] = Nift_50_Tickers_df['Symbol'] + ':NSE'
Nift_50_Tickers_df.tail()

                 Company Name          Symbol                      Sector
45              Tech Mahindra       TECHM:NSE      Information Technology
46              Titan Company       TITAN:NSE           Consumer Durables
47           UltraTech Cement  ULTRACEMCO:NSE                      Cement
48  United Phosphorus Limited         UPL:NSE                   Chemicals
49                      Wipro       WIPRO:NSE  Information Technology[15]

In [123]:
Nift_50_Tickers_df.to_csv('Nift_50_Tickers.csv')

### NIFTY_Next_50

In [49]:
NIFTY_Next_50_df = 'https://en.wikipedia.org/wiki/NIFTY_Next_50'
NIFTY_Next_50_df = pd.read_html(NIFTY_Next_50_df)[1]
len(NIFTY_Next_50_df)

50

https://www.nseindia.com/market-data/live-market-indices

In [124]:
NIFTY_Next_50_df['Symbol'] = NIFTY_Next_50_df['Symbol'] + ':NSE'
NIFTY_Next_50_df.tail()

               Company Name          Symbol             Sector
45  Torrent Pharmaceuticals  TORNTPHARM:NSE    Pharmaceuticals
46           United Spirits  MCDOWELL-N:NSE     Consumer Goods
47                  Vedanta        VEDL:NSE             Metals
48                   Zomato      ZOMATO:NSE  Internet Services
49       Zydus Lifesciences   ZYDUSLIFE:NSE    Pharmaceuticals

In [125]:
NIFTY_Next_50_df.to_csv('NIFTY_Next_50_Ticker.CSV')

### BSE

In [74]:
BSE_Ticker_url = 'https://en.wikipedia.org/wiki/BSE_SENSEX'
BSE_Ticker_df = pd.read_html(BSE_Ticker_url)[1]
len(BSE_Ticker_df)

30

In [75]:
BSE_Ticker_df.head()

,#,Exchange ticker,Symbol,Companies,Sector,Date Added
0,1,500820,ASIANPAINT.BO,Asian Paints,Paints,21 December 2015[4]
1,2,532215,AXISBANK.BO,Axis Bank,Banking - Private,NaN
2,3,532977,BAJAJ-AUTO.BO,Bajaj Auto,Automobile,NaN
3,4,500034,BAJFINANCE.BO,Bajaj Finance,Finance (NBFC),24 December 2018[5]
4,5,532978,BAJAJFINSV.BO,Bajaj Finserv,Finance (Investment),NaN

In [76]:
BSE_SENSEX_Ticker_df = BSE_Ticker_df.loc[:,'Exchange ticker':'Sector']
BSE_SENSEX_Ticker_df.head()

   Exchange ticker         Symbol      Companies                Sector
0           500820  ASIANPAINT.BO   Asian Paints                Paints
1           532215    AXISBANK.BO      Axis Bank     Banking - Private
2           532977  BAJAJ-AUTO.BO     Bajaj Auto            Automobile
3           500034  BAJFINANCE.BO  Bajaj Finance        Finance (NBFC)
4           532978  BAJAJFINSV.BO  Bajaj Finserv  Finance (Investment)

In [77]:
BSE_SENSEX_Ticker_df.columns

Index(['Exchange ticker', 'Symbol', 'Companies', 'Sector'], dtype='object')

In [78]:
BSE_SENSEX_Ticker_df['Exchange ticker'] = BSE_SENSEX_Ticker_df['Exchange ticker'].astype(str) + ':BOM'
BSE_SENSEX_Ticker_df.head()

  Exchange ticker         Symbol      Companies                Sector
0      500820:BOM  ASIANPAINT.BO   Asian Paints                Paints
1      532215:BOM    AXISBANK.BO      Axis Bank     Banking - Private
2      532977:BOM  BAJAJ-AUTO.BO     Bajaj Auto            Automobile
3      500034:BOM  BAJFINANCE.BO  Bajaj Finance        Finance (NBFC)
4      532978:BOM  BAJAJFINSV.BO  Bajaj Finserv  Finance (Investment)

In [79]:
BSE_SENSEX_Ticker_df.to_csv('BSE_SENSEX_Ticker.csv')

### BSE_Ticker_Top100

In [29]:
BSE_Ticker_Top100_url = 'https://www.bseindia.com/markets/equity/eqreports/topmarketcapitalization.aspx'
BSE_Ticker_Top100_url

'https://www.bseindia.com/markets/equity/eqreports/topmarketcapitalization.aspx'

In [30]:
BSE_Ticker_Top100_data = []
BSE_Ticker_Top100_df = pd.DataFrame(BSE_Ticker_Top100_data, columns=['Ticker', 'Title', 'Close', 'MarketCap'])
BSE_Ticker_Top100_df

Empty DataFrame
Columns: [Ticker, Title, Close, MarketCap]
Index: []

In [31]:
temp_df1 = pd.read_clipboard()

In [32]:
temp_df2 = pd.read_clipboard()

In [34]:
temp_df2.tail()

    500096              DABUR INDIA LTD.   516.95  91389.34
44  543287      Macrotech Developers Ltd  1001.95  48254.06
45  540180           Varun Beverages Ltd  1109.15  48029.86
46  500420  TORRENT PHARMACEUTICALS LTD.  2816.30  47658.19
47  526299                  MPHASIS LTD.  2531.95  47586.77
48  543245              Gland Pharma Ltd  2806.65  46190.87

In [35]:
column=['Ticker', 'Title', 'Close', 'MarketCap']

In [36]:
temp_df1 = temp_df1.T.reset_index(drop=False).T.reset_index(drop=True)
temp_df1.columns = column
temp_df1.head()

   Ticker                           Title    Close   MarketCap
0  500325        RELIANCE INDUSTRIES LTD.  2632.20  1780701.03
1  532540  TATA CONSULTANCY SERVICES LTD.   3356.5  1228160.59
2  500180                   HDFC Bank Ltd   1396.3   775225.66
3  500209                    INFOSYS LTD.   1478.9   622238.94
4  500696         HINDUSTAN UNILEVER LTD.   2308.7   542450.13

In [37]:
temp_df2 = temp_df2.T.reset_index(drop=False).T.reset_index(drop=True)
temp_df2.columns = column
temp_df2.head()

   Ticker                      Title   Close MarketCap
0  500096           DABUR INDIA LTD.  516.95  91389.34
1  500550               SIEMENS LTD.  2419.4  86159.73
2  500825  BRITANNIA INDUSTRIES LTD.  3551.5  85544.38
3  543458           Adani Wilmar Ltd  644.95  83822.77
4  532868                   DLF LTD.   337.0   83418.0

In [38]:
temp_df2.tail()

    Ticker                         Title    Close MarketCap
45  543287      Macrotech Developers Ltd  1001.95  48254.06
46  540180           Varun Beverages Ltd  1109.15  48029.86
47  500420  TORRENT PHARMACEUTICALS LTD.   2816.3  47658.19
48  526299                  MPHASIS LTD.  2531.95  47586.77
49  543245              Gland Pharma Ltd  2806.65  46190.87

In [39]:
BSE_Ticker_Top100_df

Empty DataFrame
Columns: [Ticker, Title, Close, MarketCap]
Index: []

In [ ]:
frames = [temp_df1,temp_df2]
BSE_Ticker_Top100_df = pd.concat(frames).reset_index(drop=True)

In [71]:
# '\n'.join(temp_df0)
# '\n'.join(map(str, mylist))
BSE_Ticker_Top100_df.tail()

    Ticker                         Title    Close MarketCap
95  543287      Macrotech Developers Ltd  1001.95  48254.06
96  540180           Varun Beverages Ltd  1109.15  48029.86
97  500420  TORRENT PHARMACEUTICALS LTD.   2816.3  47658.19
98  526299                  MPHASIS LTD.  2531.95  47586.77
99  543245              Gland Pharma Ltd  2806.65  46190.87

In [72]:
BSE_Ticker_Top100_df['Ticker'] = BSE_Ticker_Top100_df['Ticker'].astype(str) + ':BOM'
BSE_Ticker_Top100_df.head()

       Ticker                           Title    Close   MarketCap
0  500325:BOM        RELIANCE INDUSTRIES LTD.  2632.20  1780701.03
1  532540:BOM  TATA CONSULTANCY SERVICES LTD.   3356.5  1228160.59
2  500180:BOM                   HDFC Bank Ltd   1396.3   775225.66
3  500209:BOM                    INFOSYS LTD.   1478.9   622238.94
4  500696:BOM         HINDUSTAN UNILEVER LTD.   2308.7   542450.13

In [73]:
BSE_Ticker_Top100_df.to_csv('BSE_Ticker_Top100.csv')

### S&J 500

In [95]:
# SandP500_url = 'https://datahub.io/core/s-and-p-500-companies'
SandP500_url = 'https://datahub.io/core/s-and-p-500-companies/r/0.html'

In [176]:
S_J_500 = pd.read_clipboard()

In [177]:
S_J_500 = S_J_500.T.reset_index(drop=False).T.reset_index(drop=True)
S_J_500.columns = ['Symbol','Name','Sector']
S_J_500['Symbol'] = S_J_500['Symbol'].astype(str) + ':NYSE'
S_J_500.head()

      Symbol                 Name       Sector
0   MMM:NYSE                   3M  Industrials
1   AOS:NYSE          A. O. Smith  Industrials
2   ABT:NYSE  Abbott Laboratories  Health Care
3  ABBV:NYSE               AbbVie  Health Care
4  ABMD:NYSE              Abiomed  Health Care

In [178]:
S_J_500.to_csv('S&J_500_Tickers.csv')

# Portfolio

In [14]:
# TickersList	    	| CSV                           | Ticker_Column_Ref
# ------------------------------------------------------------------------------------------------
# NSE_All_Listed        | NSE_All_Listed_Tickers.csv    | NSE_Listed_Tickers_df['Symbol']
# Nift_50			    | Nift_50_Tickers.csv           | Nift_50_Tickers_df['Symbol']
# NIFTY_Next_50		    | NIFTY_Next_50_Ticker.CSV      | NIFTY_Next_50_df['Symbol']
# BSE_SENSEX 		    | BSE_SENSEX_Ticker.csv         | BSE_SENSEX_Ticker_df['Exchange ticker']
# BSE_Ticker_Top100	    | BSE_Ticker_Top100.csv         | BSE_Ticker_Top100_df['Ticker']
# S&J_500 	    	    | S&J_500_Tickers.csv           | S_J_500['Symbol']
# ------------------------------------------------------------------------------------------------

### NSE_All_Listed Execution

In [172]:
len(NSE_Listed_Tickers_df['Symbol'])

1807

In [173]:
NSE_Listed_Tickers_df['Symbol'][0]

'20MICRONS:NSE'

In [108]:
symbol = '20MICRONS:NSE'

In [109]:
# symbol = NSE_Listed_Tickers_df['Symbol'][0]
schedule.every().seconds.do(gf_sec_scrape)
try:
    while True:
        schedule.run_pending()
except KeyboardInterrupt:
    pass

NameError: name 'gf_sec_scrape' is not defined

### Nift_50 Execution

In [180]:
len(Nift_50_Tickers_df['Symbol'])

50

In [181]:
symbol = Nift_50_Tickers_df['Symbol'][0]
schedule.every().seconds.do(gf_sec_scrape)
try:
    while True:
        schedule.run_pending()
except KeyboardInterrupt:
    pass

{'right_panel_data': {'previous_close': '₹736.90', 'day_range': '₹730.25 - ₹741.90', 'year_range': '₹638.10 - ₹924.65', 'market_cap': '1.55T INR', 'p/e_ratio': '32.87', 'dividend_yield': '0.68%', 'primary_exchange': 'NSE', 'ceo': 'Karan Adani', 'founded': 'May 26, 1998', 'headquarters': 'India', 'website': 'adaniports.com', 'employees': '2,773'}, 'ticker_info': {'title': 'Adani Ports and Special Economic Zone Ld', 'current_price': '₹735.75'}}
{'right_panel_data': {'previous_close': '₹736.90', 'day_range': '₹730.25 - ₹741.90', 'year_range': '₹638.10 - ₹924.65', 'market_cap': '1.55T INR', 'p/e_ratio': '32.87', 'dividend_yield': '0.68%', 'primary_exchange': 'NSE', 'ceo': 'Karan Adani', 'founded': 'May 26, 1998', 'headquarters': 'India', 'website': 'adaniports.com', 'employees': '2,773'}, 'ticker_info': {'title': 'Adani Ports and Special Economic Zone Ld', 'current_price': '₹735.75'}}
{'right_panel_data': {'previous_close': '₹736.90', 'day_range': '₹730.25 - ₹741.90', 'year_range': '₹638.10 - ₹924.65', 'market_cap': '1.55T INR', 'p/e_ratio': '32.87', 'dividend_yield': '0.68%', 'primary_exchange': 'NSE', 'ceo': 'Karan Adani', 'founded': 'May 26, 1998', 'headquarters': 'India', 'website': 'adaniports.com', 'employees': '2,773'}, 'ticker_info': {'title': 'Adani Ports and Special Economic Zone Ld', 'current_price': '₹735.75'}}
{'right_panel_data': {'previous_close': '₹736.90', 'day_range': '₹730.25 - ₹741.90', 'year_range': '₹638.10 - ₹924.65', 'market_cap': '1.55T INR', 'p/e_ratio': '32.87', 'dividend_yield': '0.68%', 'primary_exchange': 'NSE', 'ceo': 'Karan Adani', 'founded': 'May 26, 1998', 'headquarters': 'India', 'website': 'adaniports.com', 'employees': '2,773'}, 'ticker_info': {'title': 'Adani Ports and Special Economic Zone Ld', 'current_price': '₹735.75'}}

### NIFTY_Next_50 Execution

In [182]:
len(NIFTY_Next_50_df['Symbol'])

50

In [183]:
NIFTY_Next_50_df['Symbol'][0]

'ACC:NSE'

In [185]:
NIFTY_Next_50_df.head()

         Company Name          Symbol          Sector
0                 ACC         ACC:NSE          Cement
1   Adani Enterprises    ADANIENT:NSE          Metals
2  Adani Green Energy  ADANIGREEN:NSE  Energy - Power
3  Adani Transmission  ADANITRANS:NSE  Energy - Power
4      Ambuja Cements   AMBUJACEM:NSE          Cement

In [186]:
symbol = NIFTY_Next_50_df['Symbol'][0]
schedule.every().seconds.do(gf_sec_scrape)
try:
    while True:
        schedule.run_pending()
except KeyboardInterrupt:
    pass

{'right_panel_data': {'previous_close': '₹2,195.85', 'day_range': '₹2,186.05 - ₹2,211.65', 'year_range': '₹1,900.00 - ₹2,589.00', 'market_cap': '414.92B INR', 'p/e_ratio': '24.51', 'dividend_yield': '2.63%', 'primary_exchange': 'NSE', 'ceo': 'Sridhar Balakrishnan', 'founded': 'Aug 1, 1936', 'headquarters': 'Mumbai, India', 'website': 'acclimited.com', 'employees': '6,082'}, 'ticker_info': {'title': 'ACC Ltd', 'current_price': '₹2,209.75'}}
{'right_panel_data': {'previous_close': '₹2,195.85', 'day_range': '₹2,186.05 - ₹2,211.65', 'year_range': '₹1,900.00 - ₹2,589.00', 'market_cap': '414.92B INR', 'p/e_ratio': '24.51', 'dividend_yield': '2.63%', 'primary_exchange': 'NSE', 'ceo': 'Sridhar Balakrishnan', 'founded': 'Aug 1, 1936', 'headquarters': 'Mumbai, India', 'website': 'acclimited.com', 'employees': '6,082'}, 'ticker_info': {'title': 'ACC Ltd', 'current_price': '₹2,209.75'}}
{'right_panel_data': {'previous_close': '₹2,195.85', 'day_range': '₹2,186.05 - ₹2,211.65', 'year_range': '₹1,900.00 - ₹2,589.00', 'market_cap': '414.92B INR', 'p/e_ratio': '24.51', 'dividend_yield': '2.63%', 'primary_exchange': 'NSE', 'ceo': 'Sridhar Balakrishnan', 'founded': 'Aug 1, 1936', 'headquarters': 'Mumbai, India', 'website': 'acclimited.com', 'employees': '6,082'}, 'ticker_info': {'title': 'ACC Ltd', 'current_price': '₹2,209.75'}}

### BSE_SENSEX Execution

In [187]:
len(BSE_SENSEX_Ticker_df['Exchange ticker'])

30

In [189]:
BSE_SENSEX_Ticker_df.head()

  Exchange ticker         Symbol      Companies                Sector
0      500820:BOM  ASIANPAINT.BO   Asian Paints                Paints
1      532215:BOM    AXISBANK.BO      Axis Bank     Banking - Private
2      532977:BOM  BAJAJ-AUTO.BO     Bajaj Auto            Automobile
3      500034:BOM  BAJFINANCE.BO  Bajaj Finance        Finance (NBFC)
4      532978:BOM  BAJAJFINSV.BO  Bajaj Finserv  Finance (Investment)

In [190]:
symbol = BSE_SENSEX_Ticker_df['Exchange ticker'][0]
schedule.every().seconds.do(gf_sec_scrape)
try:
    while True:
        schedule.run_pending()
except KeyboardInterrupt:
    pass

{'right_panel_data': {'previous_close': '₹2,853.10', 'day_range': '₹2,849.55 - ₹2,940.40', 'year_range': '₹2,601.00 - ₹3,588.05', 'market_cap': '2.76T INR', 'p/e_ratio': '90.98', 'dividend_yield': '0.67%', 'primary_exchange': 'NSE', 'ceo': 'Amit Syngle', 'founded': '1942', 'headquarters': 'Mumbai, MaharashtraIndia', 'website': 'asianpaints.com', 'employees': '7,134'}, 'ticker_info': {'title': 'Asian Paints Ltd', 'current_price': '₹2,874.00'}}
{'right_panel_data': {'previous_close': '₹2,853.10', 'day_range': '₹2,849.55 - ₹2,940.40', 'year_range': '₹2,601.00 - ₹3,588.05', 'market_cap': '2.76T INR', 'p/e_ratio': '90.98', 'dividend_yield': '0.67%', 'primary_exchange': 'NSE', 'ceo': 'Amit Syngle', 'founded': '1942', 'headquarters': 'Mumbai, MaharashtraIndia', 'website': 'asianpaints.com', 'employees': '7,134'}, 'ticker_info': {'title': 'Asian Paints Ltd', 'current_price': '₹2,874.00'}}
{'right_panel_data': {'previous_close': '₹2,853.10', 'day_range': '₹2,849.55 - ₹2,940.40', 'year_range': '₹2,601.00 - ₹3,588.05', 'market_cap': '2.76T INR', 'p/e_ratio': '90.98', 'dividend_yield': '0.67%', 'primary_exchange': 'NSE', 'ceo': 'Amit Syngle', 'founded': '1942', 'headquarters': 'Mumbai, MaharashtraIndia', 'website': 'asianpaints.com', 'employees': '7,134'}, 'ticker_info': {'title': 'Asian Paints Ltd', 'current_price': '₹2,874.00'}}

### BSE_Ticker_Top100 Execution

In [191]:
len(BSE_Ticker_Top100_df['Ticker'])

100

In [192]:
BSE_Ticker_Top100_df.head()

       Ticker                           Title    Close   MarketCap
0  500325:BOM        RELIANCE INDUSTRIES LTD.  2632.20  1780701.03
1  532540:BOM  TATA CONSULTANCY SERVICES LTD.   3356.5  1228160.59
2  500180:BOM                   HDFC Bank Ltd   1396.3   775225.66
3  500209:BOM                    INFOSYS LTD.   1478.9   622238.94
4  500696:BOM         HINDUSTAN UNILEVER LTD.   2308.7   542450.13

In [193]:
symbol = BSE_Ticker_Top100_df['Ticker'][0]
schedule.every().seconds.do(gf_sec_scrape)
try:
    while True:
        schedule.run_pending()
except KeyboardInterrupt:
    pass

{'right_panel_data': {'previous_close': '₹2,632.20', 'day_range': '₹2,635.65 - ₹2,712.50', 'year_range': '₹2,016.60 - ₹2,855.00', 'market_cap': '18.35T INR', 'p/e_ratio': '29.83', 'dividend_yield': '-', 'primary_exchange': 'NSE', 'ceo': 'Mukesh Ambani', 'founded': 'May 8, 1973', 'headquarters': 'Mumbai, MaharashtraIndia', 'website': 'ril.com', 'employees': '236,334'}, 'ticker_info': {'title': 'Reliance Industries Ltd', 'current_price': '₹2,710.00'}}
{'right_panel_data': {'previous_close': '₹2,632.20', 'day_range': '₹2,635.65 - ₹2,712.50', 'year_range': '₹2,016.60 - ₹2,855.00', 'market_cap': '18.35T INR', 'p/e_ratio': '29.83', 'dividend_yield': '-', 'primary_exchange': 'NSE', 'ceo': 'Mukesh Ambani', 'founded': 'May 8, 1973', 'headquarters': 'Mumbai, MaharashtraIndia', 'website': 'ril.com', 'employees': '236,334'}, 'ticker_info': {'title': 'Reliance Industries Ltd', 'current_price': '₹2,710.00'}}
{'right_panel_data': {'previous_close': '₹2,632.20', 'day_range': '₹2,635.65 - ₹2,712.50', 'year_range': '₹2,016.60 - ₹2,855.00', 'market_cap': '18.35T INR', 'p/e_ratio': '29.83', 'dividend_yield': '-', 'primary_exchange': 'NSE', 'ceo': 'Mukesh Ambani', 'founded': 'May 8, 1973', 'headquarters': 'Mumbai, MaharashtraIndia', 'website': 'ril.com', 'employees': '236,334'}, 'ticker_info': {'title': 'Reliance Industries Ltd', 'current_price': '₹2,710.00'}}

### S&J_500 Execution

In [177]:
S_J_500 =pd.read_csv('E:\Stock Market\S&J_500_Tickers.csv')

In [178]:
len(S_J_500['Symbol'])

505

In [179]:
S_J_500['Symbol'][504]

'ZTS:NYSE'

In [ ]:
symbol = S_J_500['Symbol'][504]
schedule.every().seconds.do(gf_sec_scrape)
try:
    while True:
        schedule.run_pending()
except KeyboardInterrupt:
    pass

# Sublevel Extraction

### Trial 1

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests, lxml, json
from itertools import zip_longest
import schedule
import time

In [2]:
BSE_Ticker_Top100_df =pd.read_csv('E:\Stock Market\BSE_Ticker_Top100.csv')

In [3]:
BSE_Ticker_Top100_df.columns

Index(['Unnamed: 0', 'Ticker', 'Title', 'Close', 'MarketCap'], dtype='object')

In [4]:
symbol = BSE_Ticker_Top100_df['Ticker'][0]

In [5]:
BSE_Ticker_Top100_df.head(1)

   Unnamed: 0      Ticker                     Title   Close   MarketCap
0           0  500325:BOM  RELIANCE INDUSTRIES LTD.  2632.2  1780701.03

In [126]:
symbol

'500325:BOM'

In [127]:
data = scrape_google_finance(ticker=symbol)
print(json.dumps(data, indent=2))

{
  "ticker_info": {
    "title": "Reliance Industries Ltd",
    "current_price": "\u20b92,724.50"
  },
  "right_panel_data": {
    "previous_close": "\u20b92,632.20",
    "day_range": "\u20b92,635.65 - \u20b92,732.00",
    "year_range": "\u20b92,016.60 - \u20b92,855.00",
    "market_cap": "18.43T INR",
    "p/e_ratio": "29.99",
    "dividend_yield": "-",
    "primary_exchange": "NSE",
    "ceo": "Mukesh Ambani",
    "founded": "May 8, 1973",
    "headquarters": "Mumbai, MaharashtraIndia",
    "website": "ril.com",
    "employees": "236,334"
  }
}

In [102]:
data

{'ticker_info': {'title': 'Reliance Industries Ltd',
  'current_price': '₹2,724.50'},
 'right_panel_data': {'previous_close': '₹2,632.20',
  'day_range': '₹2,635.65 - ₹2,732.00',
  'year_range': '₹2,016.60 - ₹2,855.00',
  'market_cap': '18.43T INR',
  'p/e_ratio': '29.99',
  'dividend_yield': '-',
  'primary_exchange': 'NSE',
  'ceo': 'Mukesh Ambani',
  'founded': 'May 8, 1973',
  'headquarters': 'Mumbai, MaharashtraIndia',
  'website': 'ril.com',
  'employees': '236,334'}}

In [103]:
df = pd.DataFrame(data).T
df

,title,current_price,previous_close,day_range,year_range,market_cap,p/e_ratio,dividend_yield,primary_exchange,ceo,founded,headquarters,website,employees
ticker_info,Reliance Industries Ltd,"₹2,724.50",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
right_panel_data,NaN,NaN,"₹2,632.20","₹2,635.65 - ₹2,732.00","₹2,016.60 - ₹2,855.00",18.43T INR,29.99,-,NSE,Mukesh Ambani,"May 8, 1973","Mumbai, MaharashtraIndia",ril.com,"236,334"

In [104]:
data["ticker_info"]

{'title': 'Reliance Industries Ltd', 'current_price': '₹2,724.50'}

In [105]:
cp = pd.DataFrame(data["ticker_info"],index=[0])
cp

                     title current_price
0  Reliance Industries Ltd     ₹2,724.50

In [106]:
rpd = pd.DataFrame(data["right_panel_data"],index=['Data']).T
rpd

                                      Data
previous_close                   ₹2,632.20
day_range            ₹2,635.65 - ₹2,732.00
year_range           ₹2,016.60 - ₹2,855.00
market_cap                      18.43T INR
p/e_ratio                            29.99
dividend_yield                           -
primary_exchange                       NSE
ceo                          Mukesh Ambani
founded                        May 8, 1973
headquarters      Mumbai, MaharashtraIndia
website                            ril.com
employees                          236,334

In [107]:
rpd = pd.DataFrame(data["right_panel_data"],index=[0])
rpd

,previous_close,day_range,year_range,market_cap,p/e_ratio,dividend_yield,primary_exchange,ceo,founded,headquarters,website,employees
0,"₹2,632.20","₹2,635.65 - ₹2,732.00","₹2,016.60 - ₹2,855.00",18.43T INR,29.99,-,NSE,Mukesh Ambani,"May 8, 1973","Mumbai, MaharashtraIndia",ril.com,"236,334"

In [108]:
data["ticker_info"]['title']

'Reliance Industries Ltd'

In [109]:
data["ticker_info"]['current_price']

'₹2,724.50'

In [110]:
data["right_panel_data"]

{'previous_close': '₹2,632.20',
 'day_range': '₹2,635.65 - ₹2,732.00',
 'year_range': '₹2,016.60 - ₹2,855.00',
 'market_cap': '18.43T INR',
 'p/e_ratio': '29.99',
 'dividend_yield': '-',
 'primary_exchange': 'NSE',
 'ceo': 'Mukesh Ambani',
 'founded': 'May 8, 1973',
 'headquarters': 'Mumbai, MaharashtraIndia',
 'website': 'ril.com',
 'employees': '236,334'}

In [134]:
symbol

'500325:BOM'

In [141]:
len(symbol)

11

In [146]:
len('500325:BOM')

10

In [140]:
data = scrape_google_finance(ticker='500325:BOM')
print(json.dumps(data, indent=2))

{
  "ticker_info": {
    "title": "Reliance Industries Ltd",
    "current_price": "\u20b92,724.50"
  },
  "right_panel_data": {
    "previous_close": "\u20b92,632.20",
    "day_range": "\u20b92,635.65 - \u20b92,732.00",
    "year_range": "\u20b92,016.60 - \u20b92,855.00",
    "market_cap": "18.43T INR",
    "p/e_ratio": "29.99",
    "dividend_yield": "-",
    "primary_exchange": "NSE",
    "ceo": "Mukesh Ambani",
    "founded": "May 8, 1973",
    "headquarters": "Mumbai, MaharashtraIndia",
    "website": "ril.com",
    "employees": "236,334"
  }
}

### Trial 2

In [147]:
symbol = BSE_Ticker_Top100_df['Ticker'][0]

In [148]:
len(symbol)

10

In [171]:
data = scrape_google_finance(ticker=symbol)
print(json.dumps(data, indent=2))

{
  "ticker_info": {
    "title": "HDFC Bank Limited",
    "current_price": "\u20b91,385.20"
  },
  "right_panel_data": {
    "previous_close": "\u20b91,394.85",
    "day_range": "\u20b91,378.60 - \u20b91,388.00",
    "year_range": "\u20b91,278.30 - \u20b91,725.00",
    "market_cap": "7.70T INR",
    "p/e_ratio": "20.28",
    "dividend_yield": "1.12%",
    "primary_exchange": "NSE",
    "ceo": "Sashidhar Jagdishan",
    "founded": "Aug 1994",
    "headquarters": "Mumbai, MaharashtraIndia",
    "website": "hdfcbank.com",
    "employees": "141,579"
  }
}

In [164]:
data

{'ticker_info': {'title': 'Reliance Industries Ltd',
  'current_price': '₹2,724.50'},
 'right_panel_data': {'previous_close': '₹2,632.20',
  'day_range': '₹2,635.65 - ₹2,732.00',
  'year_range': '₹2,016.60 - ₹2,855.00',
  'market_cap': '18.43T INR',
  'p/e_ratio': '29.99',
  'dividend_yield': '-',
  'primary_exchange': 'NSE',
  'ceo': 'Mukesh Ambani',
  'founded': 'May 8, 1973',
  'headquarters': 'Mumbai, MaharashtraIndia',
  'website': 'ril.com',
  'employees': '236,334'}}

In [6]:
scrape_google_finance(ticker=symbol)

{'right_panel_data': {'previous_close': '₹1,394.85',
  'day_range': '₹1,378.60 - ₹1,388.00',
  'year_range': '₹1,278.30 - ₹1,725.00',
  'market_cap': '7.70T INR',
  'p/e_ratio': '20.28',
  'dividend_yield': '1.12%',
  'primary_exchange': 'NSE',
  'ceo': 'Sashidhar Jagdishan',
  'founded': 'Aug 1994',
  'headquarters': 'Mumbai, MaharashtraIndia',
  'website': 'hdfcbank.com',
  'employees': '141,579'},
 'ticker_info': {'title': 'HDFC Bank Limited', 'current_price': '₹1,385.20'}}

In [7]:
# def gf_sec_scrape():
#     data = scrape_google_finance(ticker=symbol)
#     print(data)

schedule.every().seconds.do(gf_sec_scrape)
try:
    while True:
        schedule.run_pending()
except KeyboardInterrupt:
    pass

{'right_panel_data': {'previous_close': '₹1,394.85', 'day_range': '₹1,378.60 - ₹1,388.00', 'year_range': '₹1,278.30 - ₹1,725.00', 'market_cap': '7.70T INR', 'p/e_ratio': '20.28', 'dividend_yield': '1.12%', 'primary_exchange': 'NSE', 'ceo': 'Sashidhar Jagdishan', 'founded': 'Aug 1994', 'headquarters': 'Mumbai, MaharashtraIndia', 'website': 'hdfcbank.com', 'employees': '141,579'}, 'ticker_info': {'title': 'HDFC Bank Limited', 'current_price': '₹1,385.20'}}
{'right_panel_data': {'previous_close': '₹1,394.85', 'day_range': '₹1,378.60 - ₹1,388.00', 'year_range': '₹1,278.30 - ₹1,725.00', 'market_cap': '7.70T INR', 'p/e_ratio': '20.28', 'dividend_yield': '1.12%', 'primary_exchange': 'NSE', 'ceo': 'Sashidhar Jagdishan', 'founded': 'Aug 1994', 'headquarters': 'Mumbai, MaharashtraIndia', 'website': 'hdfcbank.com', 'employees': '141,579'}, 'ticker_info': {'title': 'HDFC Bank Limited', 'current_price': '₹1,385.20'}}

### Trial 3

In [4]:
import pandas as pd
BSE_Ticker_Top100_df =pd.read_csv('E:\Stock Market\BSE_Ticker_Top100.csv')

In [5]:
BSE_Ticker_Top100_df.head(1)

   Unnamed: 0      Ticker                     Title   Close   MarketCap
0           0  500325:BOM  RELIANCE INDUSTRIES LTD.  2632.2  1780701.03

In [6]:
symbol = BSE_Ticker_Top100_df['Ticker'][0]

In [110]:
symbol = '500325:BOM'
symbol

'500325:BOM'

In [111]:
def scrape_google_finance_CurP(ticker: str):
    # https://docs.python-requests.org/en/master/user/quickstart/#passing-parameters-in-urls
    params = {
        "hl": "en" # language
        }

    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.60 Safari/537.36",
        }

    html = requests.get(f"https://www.google.com/finance/quote/{ticker}", params=params, headers=headers, timeout=30)
    soup = BeautifulSoup(html.text, "lxml")
    
    ticker_data = {"ticker_info": {}}
    
    ticker_data["ticker_info"]["title"] = soup.select_one(".zzDege").text
    ticker_data["ticker_info"]["current_price"] = soup.select_one(".AHmHk .fxKbKc").text
    
    # right_panel_keys = soup.select(".gyFHrc .mfs7Fc")
    # right_panel_values = soup.select(".gyFHrc .P6K39c")
    
    # for key, value in zip_longest(right_panel_keys, right_panel_values):
    #     key_value = key.text.lower().replace(" ", "_")

    #     ticker_data["right_panel_data"][key_value] = value.text
    
    return ticker_data["ticker_info"]["current_price"]

In [112]:
def gf_sec_scrape_cp2():
    data = scrape_google_finance_CurP(ticker=symbol)
    print(data)

In [113]:
schedule.every(.5).seconds.do(gf_sec_scrape_cp2)
try:
    while True:
        schedule.run_pending()
except KeyboardInterrupt:
    pass

₹2,754.10
₹2,754.10
₹2,754.10
₹2,752.25
₹2,752.25
₹2,753.30
₹2,753.30
₹2,753.30
₹2,753.30
₹2,753.10
₹2,753.10
₹2,752.90
₹2,751.00
₹2,751.00
₹2,751.00
₹2,751.00
₹2,750.60
₹2,751.30
₹2,751.30

###### Python for Finance #1 - Introduction and Getting Real Time Stock Data
###### https://www.youtube.com/watch?v=q_MWWVgghsQ

## 2nd Implementation

https://serpapi.com/blog/scrape-google-finance-ticker-quote-data-in-python/#ticker_data

In [49]:
# pip install parsel

In [85]:
import pandas as pd
import requests, json, re
from parsel import Selector
from itertools import zip_longest
from bs4 import BeautifulSoup
import requests, lxml, json

In [86]:
symbol = '500325:BOM'
symbol

'500325:BOM'

In [87]:


# https://docs.python.org/3/library/itertools.html#itertools.zip_longest
def scrape_google_finance(ticker: str):
    params = {
        "hl": "en" # language
        }

    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.60 Safari/537.36",
        }

    html = requests.get(f"https://www.google.com/finance/quote/{ticker}", params=params, headers=headers, timeout=30)
    selector = Selector(text=html.text)
    
    # where all extracted data will be temporary located
    ticker_data = {
        "ticker_data": {},
        "about_panel": {},
        "news": {"items": []},
        "finance_perfomance": {"table": []}, 
        "people_also_search_for": {"items": []},
        "interested_in": {"items": []}
    }
    
    # current price, quote, title extraction
    ticker_data["ticker_data"]["current_price"] = selector.css(".AHmHk .fxKbKc::text").get()
    ticker_data["ticker_data"]["quote"] = selector.css(".PdOqHc::text").get().replace(" • ",":")
    ticker_data["ticker_data"]["title"] = selector.css(".zzDege::text").get()
    
    # about panel extraction
    about_panel_keys = selector.css(".gyFHrc .mfs7Fc::text").getall()
    about_panel_values = selector.css(".gyFHrc .P6K39c").xpath("normalize-space()").getall()
    
    for key, value in zip_longest(about_panel_keys, about_panel_values):
        key_value = key.lower().replace(" ", "_")
        ticker_data["about_panel"][key_value] = value
    
    # description "about" extraction
    ticker_data["about_panel"]["description"] = selector.css(".bLLb2d::text").get()
    ticker_data["about_panel"]["extensions"] = selector.css(".w2tnNd::text").getall()
    
    # news extarction
    if selector.css(".yY3Lee").get():
        for index, news in enumerate(selector.css(".yY3Lee"), start=1):
            ticker_data["news"]["items"].append({
                "position": index,
                "title": news.css(".Yfwt5::text").get(),
                "link": news.css(".z4rs2b a::attr(href)").get(),
                "source": news.css(".sfyJob::text").get(),
                "published": news.css(".Adak::text").get(),
                "thumbnail": news.css("img.Z4idke::attr(src)").get()
            })
    else: 
        ticker_data["news"]["error"] = f"No news result from a {ticker}."

    # finance perfomance table
    if selector.css(".slpEwd .roXhBd").get():
        fin_perf_col_2 = selector.css(".PFjsMe+ .yNnsfe::text").get()           # e.g. Dec 2021
        fin_perf_col_3 = selector.css(".PFjsMe~ .yNnsfe+ .yNnsfe::text").get()  # e.g. Year/year change
        
        for fin_perf in selector.css(".slpEwd .roXhBd"):
            if fin_perf.css(".J9Jhg::text , .jU4VAc::text").get():
                perf_key = fin_perf.css(".J9Jhg::text , .jU4VAc::text").get()   # e.g. Revenue, Net Income, Operating Income..
                perf_value_col_1 = fin_perf.css(".QXDnM::text").get()           # 60.3B, 26.40%..   
                perf_value_col_2 = fin_perf.css(".gEUVJe .JwB6zf::text").get()  # 2.39%, -21.22%..
                
                ticker_data["finance_perfomance"]["table"].append({
                    perf_key: {
                        fin_perf_col_2: perf_value_col_1,
                        fin_perf_col_3: perf_value_col_2
                    }
                })
    else:
        ticker_data["finance_perfomance"]["error"] = f"No 'finence perfomance table' for {ticker}."
    
    # "you may be interested in" results
    if selector.css(".HDXgAf .tOzDHb").get():
        for index, other_interests in enumerate(selector.css(".HDXgAf .tOzDHb"), start=1):
            ticker_data["interested_in"]["items"].append(discover_more_tickers(index, other_interests))
    else:
        ticker_data["interested_in"]["error"] = f"No 'you may be interested in` results for {ticker}"
    
    
    # "people also search for" results
    if selector.css(".HDXgAf+ div .tOzDHb").get():
        for index, other_tickers in enumerate(selector.css(".HDXgAf+ div .tOzDHb"), start=1):
            ticker_data["people_also_search_for"]["items"].append(discover_more_tickers(index, other_tickers))
    else:
        ticker_data["people_also_search_for"]["error"] = f"No 'people_also_search_for` in results for {ticker}"
        

    return ticker_data


def discover_more_tickers(index: int, other_data: str):
    """
    if price_change_formatted will start complaining,
    check beforehand for None values with try/except and set it to 0, in this function.
    
    however, re.search(r"\d{1}%|\d{1,10}\.\d{1,2}%" should make the job done.
    """
    return {
            "position": index,
            "ticker": other_data.css(".COaKTb::text").get(),
            "ticker_link": f'https://www.google.com/finance{other_data.attrib["href"].replace("./", "/")}',
            "title": other_data.css(".RwFyvf::text").get(),
            "price": other_data.css(".YMlKec::text").get(),
            "price_change": other_data.css("[jsname=Fe7oBc]::attr(aria-label)").get(),
            # https://regex101.com/r/BOFBlt/1
            # Up by 100.99% -> 100.99%
            "price_change_formatted": re.search(r"\d{1}%|\d{1,10}\.\d{1,2}%", other_data.css("[jsname=Fe7oBc]::attr(aria-label)").get()).group()
        }

In [88]:
scrape_google_finance(ticker="GOOGL:NASDAQ")

{'ticker_data': {'current_price': '$2,296.71',
  'quote': 'GOOGL:NASDAQ',
  'title': 'Alphabet Inc Class A'},
 'about_panel': {'previous_close': '$2,343.88',
  'day_range': '$2,295.52 - $2,365.98',
  'year_range': '$2,037.69 - $3,030.93',
  'market_cap': '1.51T USD',
  'volume': '2.04M',
  'p/e_ratio': '20.77',
  'dividend_yield': '-',
  'primary_exchange': 'NASDAQ',
  'ceo': 'Sundar Pichai',
  'founded': 'Oct 2, 2015',
  'headquarters': 'Mountain View, CaliforniaUnited States',
  'website': 'abc.xyz',
  'employees': '163,906',
  'description': 'Alphabet Inc. is an American multinational technology conglomerate holding company headquartered in Mountain View, California. It was created through a restructuring of Google on October 2, 2015, and became the parent company of Google and several former Google subsidiaries. Alphabet is the world\'s third-largest technology company by revenue and one of the world\'s most valuable companies. It is one of the Big Five American information technology companies, alongside Amazon, Apple, Meta and Microsoft.\nThe establishment of Alphabet Inc. was prompted by a desire to make the core Google business "cleaner and more accountable" while allowing greater autonomy to group companies that operate in businesses other than Internet services. Founders Larry Page and Sergey Brin announced their resignation from their executive posts in December 2019, with the CEO role to be filled by Sundar Pichai, also the CEO of Google. Page and Brin remain employees, board members, and controlling shareholders of Alphabet Inc. ',
  'extensions': ['Stock', 'US listed security', 'US headquartered']},
 'news': {'items': [{'position': 1,
    'title': "Alphabet's Waymo, Uber Freight in deal for future self-driving trucks By \nReuters",
    'link': 'https://www.investing.com/news/stock-market-news/alphabets-waymo-uber-freight-in-deal-for-future-selfdriving-trucks-2834441',
    'source': 'Investing.com',
    'published': '2 days ago',
    'thumbnail': 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbuRkkPvaVqLre5XFLK32T-DWaygW5HkSJTuHcKB0IwiBNnd16SQbsv0AM_9A'},
   {'position': 2,
    'title': 'At $300,000, Alphabet, Meta had highest-paid median workers in 2021: Report',
    'link': 'https://www.business-standard.com/article/international/alphabet-meta-had-highest-paid-median-workers-in-2021-says-report-122060300275_1.html',
    'source': 'Business Standard',
    'published': '6 days ago',
    'thumbnail': 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKaVZ5U_ZMerr9Rh8q64uRhMb-BmBG0_NS6adiasFB2F8n-aVbuQgxsXf3fLQ'},
   {'position': 3,
    'title': 'Stocks to Buy Now: Alphabet, Facebook, and 4 More Bargains',
    'link': 'https://www.barrons.com/articles/stocks-to-buy-now-alphabet-facebook-netflix-bargains-51653668705',
    'source': "Barron's",
    'published': '1 week ago',
    'thumbnail': 'https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSBIepA5jgOf9uNS3IgTrF6XOAZfNCsxX4WLaj0OLRrDkkuugreEs2ftmhQPKs'},
   {'position': 4,
    'title': 'Google CEO Sundar Pichai Faced Intense Pushback From Employees. His \nResponse Is a Masterclass in Leading People',
    'link': 'https://www.inc.com/jason-aten/google-ceo-sundar-pichai-faced-intense-pushback-from-employees-his-response-is-a-masterclass-in-leading-people.html',
    'source': 'Inc. Magazine',
    'published': '1 month ago',
    'thumbnail': 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7_KXDr0BoHrgcwlYXHtdmPq64l4XcH6d0SSJWTz5mRKIQO_GDZq8XZ6laosM'},
   {'position': 5,
    'title': 'Alphabet Gains With its Own Stock Split a Little Over a Month Away By \nInvesting.com',
    'link': 'https://www.investing.com/news/stock-market-news/alphabet-gains-with-its-own-stock-split-a-little-over-a-month-away-432SI-2833980',
    'source': 'Investing.com',
    'published': '3 days ago',
    'thumbnail': 'https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTkEcPS3w7FdZgpLdzbtiPYyzAI5p7WqYrURd_cAZ--uX1jeN8l-Nq7shJSgm0'},
   {'position': 6,
    'title': 'This 49-year-old CEO used lessons from Amazon and Google to build a $1.5 \nbillion start-up',
    'link': 'https://www.cnbc.com/2022/05/12/lessons-from-amazon-and-google-helped-build-this-1point5-billion-start-up.html',
    'source': 'CNBC',
    'published': '4 weeks ago',
    'thumbnail': 'https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTtQlkPYnZwEze48-QZK9kZq2EvPjy1xUaSFNc2hU1fwsFJElT1W_yv_gZjSjg'}]},
 'finance_perfomance': {'table': [{'Revenue': {'Mar 2022': '68.01B',
     'Year/year change': '22.95%'}},
   {'Net income': {'Mar 2022': '16.44B', 'Year/year change': '-8.33%'}},
   {'Diluted EPS': {'Mar 2022': '24.62', 'Year/year change': '-6.35%'}},
   {'Net profit margin': {'Mar 2022': '24.17%',
     'Year/year change': '-25.42%'}},
   {'Operating income': {'Mar 2022': '20.09B', 'Year/year change': '22.25%'}},
   {'Net change in cash': {'Mar 2022': '-59.00M',
     'Year/year change': '-137.58%'}},
   {'Cash and equivalents': {'Mar 2022': '20.89B',
     'Year/year change': '-21.55%'}},
   {'Cost of revenue': {'Mar 2022': '29.60B', 'Year/year change': '22.80%'}}]},
 'people_also_search_for': {'items': [{'position': 1,
    'ticker': 'GOOG',
    'ticker_link': 'https://www.google.com/finance/quote/GOOG:NASDAQ',
    'title': 'Alphabet Inc Class C',
    'price': '$2,298.36',
    'price_change': 'Down by 1.98%',
    'price_change_formatted': '1.98%'},
   {'position': 2,
    'ticker': 'AMZN',
    'ticker_link': 'https://www.google.com/finance/quote/AMZN:NASDAQ',
    'title': 'Amazon.com, Inc.',
    'price': '$116.15',
    'price_change': 'Down by 4.15%',
    'price_change_formatted': '4.15%'},
   {'position': 3,
    'ticker': 'MSFT',
    'ticker_link': 'https://www.google.com/finance/quote/MSFT:NASDAQ',
    'title': 'Microsoft Corporation',
    'price': '$264.79',
    'price_change': 'Down by 2.08%',
    'price_change_formatted': '2.08%'},
   {'position': 4,
    'ticker': 'AAPL',
    'ticker_link': 'https://www.google.com/finance/quote/AAPL:NASDAQ',
    'title': 'Apple Inc',
    'price': '$142.64',
    'price_change': 'Down by 3.60%',
    'price_change_formatted': '3.60%'},
   {'position': 5,
    'ticker': 'TSLA',
    'ticker_link': 'https://www.google.com/finance/quote/TSLA:NASDAQ',
    'title': 'Tesla Inc',
    'price': '$719.12',
    'price_change': 'Down by 0.89%',
    'price_change_formatted': '0.89%'},
   {'position': 6,
    'ticker': 'META',
    'ticker_link': 'https://www.google.com/finance/quote/META:NASDAQ',
    'title': 'Meta Platforms Inc',
    'price': '$184.00',
    'price_change': 'Down by 6.43%',
    'price_change_formatted': '6.43%'},
   {'position': 7,
    'ticker': 'NVDA',
    'ticker_link': 'https://www.google.com/finance/quote/NVDA:NASDAQ',
    'title': 'NVIDIA Corporation',
    'price': '$180.48',
    'price_change': 'Down by 3.22%',
    'price_change_formatted': '3.22%'},
   {'position': 8,
    'ticker': 'SNOW',
    'ticker_link': 'https://www.google.com/finance/quote/SNOW:NYSE',
    'title': 'Snowflake Inc',
    'price': '$133.23',
    'price_change': 'Down by 1.73%',
    'price_change_formatted': '1.73%'},
   {'position': 9,
    'ticker': 'NFLX',
    'ticker_link': 'https://www.google.com/finance/quote/NFLX:NASDAQ',
    'title': 'Netflix Inc',
    'price': '$192.77',
    'price_change': 'Down by 4.96%',
    'price_change_formatted': '4.96%'},
   {'position': 10,
    'ticker': 'DIS',
    'ticker_link': 'https://www.google.com/finance/quote/DIS:NYSE',
    'title': 'Walt Disney Co',
    'price': '$103.30',
    'price_change': 'Down by 3.69%',
    'price_change_formatted': '3.69%'},
   {'position': 11,
    'ticker': 'AMD',
    'ticker_link': 'https://www.google.com/finance/quote/AMD:NASDAQ',
    'title': 'Advanced Micro Devices, Inc.',
    'price': '$98.80',
    'price_change': 'Down by 3.04%',
    'price_change_formatted': '3.04%'},
   {'position': 12,
    'ticker': 'BRK.B',
    'ticker_link': 'https://www.google.com/finance/quote/BRK.B:NYSE',
    'title': 'Berkshire Hathaway Inc. Class B',
    'price': '$300.80',
    'price_change': 'Down by 2.51%',
    'price_change_formatted': '2.51%'},
   {'position': 13,
    'ticker': 'V',
    'ticker_link': 'https://www.google.com/finance/quote/V:NYSE',
    'title': 'Visa Inc',
    'price': '$206.11',
    'price_change': 'Down by 3.43%',
    'price_change_formatted': '3.43%'},
   {'position': 14,
    'ticker': 'QQQ',
    'ticker_link': 'https://www.google.com/finance/quote/QQQ:NASDAQ',
    'title': 'Invesco QQQ Trust Series 1',
    'price': '$299.40',
    'price_change': 'Down by 2.68%',
    'price_change_formatted': '2.68%'},
   {'position': 15,
    'ticker': 'SPY',
    'ticker_link': 'https://www.google.com/finance/quote/SPY:NYSEARCA',
    'title': 'SPDR S&P 500 ETF Trust',
    'price': '$401.44',
    'price_change': 'Down by 2.38%',
    'price_change_formatted': '2.38%'},
   {'position': 16,
    'ticker': 'LCID',
    'ticker_link': 'https://www.google.com/finance/quote/LCID:NASDAQ',
    'title': 'Lucid Group Inc',
    'price': '$18.88',
    'price_change': 'Down by 3.62%',
    'price_change_formatted': '3.62%'},
   {'position': 17,
    'ticker': 'PYPL',
    'ticker_link': 'https://www.google.com/finance/quote/PYPL:NASDAQ',
    'title': 'PayPal Holdings Inc',
    'price': '$84.11',
    'price_change': 'Down by 3.89%',
    'price_change_formatted': '3.89%'},
   {'position': 18,
    'ticker': 'SHOP',
    'ticker_link': 'https://www.google.com/finance/quote/SHOP:NYSE',
    'title': 'Shopify Inc',
    'price': '$371.39',
    'price_change': 'Down by 5.10%',
    'price_change_formatted': '5.10%'}]},
 'interested_in': {'items': [{'position': 1,
    'ticker': 'Index',
    'ticker_link': 'https://www.google.com/finance/quote/SENSEX:INDEXBOM',
    'title': 'BSE SENSEX',
    'price': '54,605.22',
    'price_change': 'Down by 1.29%',
    'price_change_formatted': '1.29%'},
   {'position': 2,
    'ticker': 'Index',
    'ticker_link': 'https://www.google.com/finance/quote/NIFTY_50:INDEXNSE',
    'title': 'NIFTY 50',
    'price': '16,276.55',
    'price_change': 'Down by 1.22%',
    'price_change_formatted': '1.22%'},
   {'position': 3,
    'ticker': 'Index',
    'ticker_link': 'https://www.google.com/finance/quote/.DJI:INDEXDJX',
    'title': 'Dow Jones Industrial Average',
    'price': '32,272.79',
    'price_change': 'Down by 1.94%',
    'price_change_formatted': '1.94%'},
   {'position': 4,
    'ticker': 'BSE',
    'ticker_link': 'https://www.google.com/finance/quote/BSE:NSE',
    'title': 'BSE Ltd',
    'price': '₹717.10',
    'price_change': 'Down by 1.58%',
    'price_change_formatted': '1.58%'},
   {'position': 5,
    'ticker': 'Index',
    'ticker_link': 'https://www.google.com/finance/quote/.INX:INDEXSP',
    'title': 'S&P 500',
    'price': '4,017.82',
    'price_change': 'Down by 2.38%',
    'price_change_formatted': '2.38%'},
   {'position': 6,
    'ticker': 'RELIANCE',
    'ticker_link': 'https://www.google.com/finance/quote/RELIANCE:NSE',
    'title': 'Reliance Industries Ltd',
    'price': '₹2,764.75',
    'price_change': 'Down by 1.21%',
    'price_change_formatted': '1.21%'},
   {'position': 7,
    'ticker': 'ITC',
    'ticker_link': 'https://www.google.com/finance/quote/ITC:NSE',
    'title': 'ITC Ltd',
    'price': '₹270.30',
    'price_change': 'Down by 0.20%',
    'price_change_formatted': '0.20%'},
   {'position': 8,
    'ticker': 'SBIN',
    'ticker_link': 'https://www.google.com/finance/quote/SBIN:NSE',
    'title': 'State Bank of India',
    'price': '₹462.70',
    'price_change': 'Down by 0.91%',
    'price_change_formatted': '0.91%'},
   {'position': 9,
    'ticker': 'M&M',
    'ticker_link': 'https://www.google.com/finance/quote/M&M:NSE',
    'title': 'Mahindra & Mahindra Limited',
    'price': '₹1,040.15',
    'price_change': 'Down by 0.47%',
    'price_change_formatted': '0.47%'},
   {'position': 10,
    'ticker': 'YESBANK',
    'ticker_link': 'https://www.google.com/finance/quote/YESBANK:NSE',
    'title': 'Yes Bank Limited',
    'price': '₹13.10',
    'price_change': 'Down by 0.76%',
    'price_change_formatted': '0.76%'},
   {'position': 11,
    'ticker': 'NS',
    'ticker_link': 'https://www.google.com/finance/quote/NS:NYSE',
    'title': 'NuStar Energy L.P.',
    'price': '$16.31',
    'price_change': 'Up by 2.00%',
    'price_change_formatted': '2.00%'},
   {'position': 12,
    'ticker': 'Index',
    'ticker_link': 'https://www.google.com/finance/quote/VIX:INDEXCBOE',
    'title': 'VIX',
    'price': '26.09',
    'price_change': 'Up by 8.89%',
    'price_change_formatted': '8.89%'},
   {'position': 13,
    'ticker': 'CNC',
    'ticker_link': 'https://www.google.com/finance/quote/CNC:NYSE',
    'title': 'Centene Corp',
    'price': '$80.02',
    'price_change': 'Down by 3.10%',
    'price_change_formatted': '3.10%'},
   {'position': 14,
    'ticker': 'CPP',
    'ticker_link': 'https://www.google.com/finance/quote/CPP:LON',
    'title': 'CPPGroup Plc',
    'price': 'GBX\xa0200.00',
    'price_change': 'Up by 3.36%',
    'price_change_formatted': '3.36%'},
   {'position': 15,
    'ticker': 'IDEA',
    'ticker_link': 'https://www.google.com/finance/quote/IDEA:NSE',
    'title': 'Vodafone Idea Ltd',
    'price': '₹9.20',
    'price_change': 'Changed by 0.00%',
    'price_change_formatted': '0.00%'},
   {'position': 16,
    'ticker': 'INDUSINDBK',
    'ticker_link': 'https://www.google.com/finance/quote/INDUSINDBK:NSE',
    'title': 'Indusind Bank Ltd',
    'price': '₹913.25',
    'price_change': 'Down by 0.77%',
    'price_change_formatted': '0.77%'},
   {'position': 17,
    'ticker': 'UPL',
    'ticker_link': 'https://www.google.com/finance/quote/UPL:NSE',
    'title': 'UPL Ltd Fully Paid Ord. Shrs',
    'price': '₹737.35',
    'price_change': 'Down by 1.33%',
    'price_change_formatted': '1.33%'},
   {'position': 18,
    'ticker': 'INFY',
    'ticker_link': 'https://www.google.com/finance/quote/INFY:NSE',
    'title': 'Infosys Ltd',
    'price': '₹1,487.05',
    'price_change': 'Down by 1.84%',
    'price_change_formatted': '1.84%'}]}}

In [54]:
for ticker in ["DAX:INDEXDB", "GOOGL:NASDAQ", "MSFT:NASDAQ"]:
    data = scrape_google_finance(ticker=ticker)
    print(json.dumps(data["ticker_data"], indent=2, ensure_ascii=False))

{
  "current_price": "14,601.99",
  "quote": "DAX:Index",
  "title": "DAX PERFORMANCE-INDEX"
}
{
  "current_price": "$2,290.82",
  "quote": "GOOGL:NASDAQ",
  "title": "Alphabet Inc Class A"
}
{
  "current_price": "$270.02",
  "quote": "MSFT:NASDAQ",
  "title": "Microsoft Corporation"
}

In [89]:
scrape_google_finance(ticker=symbol)

{'ticker_data': {'current_price': '₹2,762.95',
  'quote': '500325:BOM',
  'title': 'Reliance Industries Ltd'},
 'about_panel': {'previous_close': '₹2,798.60',
  'day_range': '₹2,762.95 - ₹2,790.05',
  'year_range': '₹2,016.60 - ₹2,855.00',
  'market_cap': '18.72T INR',
  'p/e_ratio': '30.41',
  'dividend_yield': '-',
  'primary_exchange': 'NSE',
  'ceo': 'Mukesh Ambani',
  'founded': 'May 8, 1973',
  'headquarters': 'Mumbai, MaharashtraIndia',
  'website': 'ril.com',
  'employees': '236,334',
  'description': "Reliance Industries Limited is an Indian multinational conglomerate company, headquartered in Mumbai. It has diverse businesses including energy, petrochemicals, natural gas, retail, telecommunications, mass media, and textiles. Reliance is one of the most profitable companies in India, the largest publicly traded company in India by market capitalisation, and the largest company in India as measured by revenue. It is also the tenth largest employer in India with over 236,000 employees. RIL has a market capitalisation of US$243 billion as of March 31, 2022.\nThe company is ranked 155th on the Fortune Global 500 list of the world's biggest corporations as of 2021. Reliance continues to be India's largest exporter, accounting for 8% of India's total merchandise exports and access to markets in over 100 countries. Reliance is responsible for almost 5% of the government of India's total revenues from customs and excise duty. It is also the highest income tax payer in the private sector in India. The company has negative free cash flows. Reliance Industries became the first Indian company to cross 100Bn$ in revenues. ",
  'extensions': ['Stock', 'IN listed security', 'IN headquartered']},
 'news': {'items': [{'position': 1,
    'title': "After Amazon, Flipkart, Reliance and Tata Neu, India's $133 billion \necommerce market may be too little for a f",
    'link': 'https://www.businessinsider.in/business/ecommerce/news/after-amazon-flipkart-reliance-and-tata-neu-indias-133-billion-ecommerce-market-may-be-too-little-for-a-fifth-player/articleshow/92062540.cms',
    'source': 'Business Insider India',
    'published': '2 days ago',
    'thumbnail': 'https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQlRpsSoTDWUzECCc_aSeU-M6xLaMLPpCZmQwpFUfU7wb4dYQqZiyRPrXodtHo'},
   {'position': 2,
    'title': 'Sensex snaps 4-day losing run, rises 428 pts; Nifty holds 16,450; RIL up 3%',
    'link': 'https://www.business-standard.com/article/markets/market-live-sensex-nifty-rbi-policy-oil-price-brent-yes-bank-sugar-122060900135_1.html',
    'source': 'Business Standard',
    'published': '18 hours ago',
    'thumbnail': 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS69bsJbc6KBTLyXNfI43vkYSipkMi2pXbNYEXpMSWhdFhG70_DySi2-oIk6gE'},
   {'position': 3,
    'title': 'Reliance Industries, HDFC, Bajaj Auto, Dr Reddy’s, ICICI Bank, Escorts \nstocks in focus on 10 June 2022',
    'link': 'https://www.financialexpress.com/market/stocks-to-watch-reliance-industries-ril-hdfc-bajaj-auto-dr-reddys-icici-bank-escorts-stocks-in-focus-on-10-june/2555009/',
    'source': 'The Financial Express',
    'published': '2 hours ago',
    'thumbnail': 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbgWxo5KoLm_vYKkf2lrjS1t3_tzlEhB-cRE2VWks0NWj24S88hleMaiGnm2o'}]},
 'finance_perfomance': {'table': [{'Revenue': {'Mar 2022': '2.07T',
     'Year/year change': '38.64%'}},
   {'Net income': {'Mar 2022': '162.03B', 'Year/year change': '22.50%'}},
   {'Diluted EPS': {'Mar 2022': '23.95', 'Year/year change': '18.98%'}},
   {'Net profit margin': {'Mar 2022': '7.81%', 'Year/year change': '-11.65%'}},
   {'Operating income': {'Mar 2022': '233.65B', 'Year/year change': '48.65%'}},
   {'Net change in cash': {'Mar 2022': '—', 'Year/year change': None}},
   {'Cash and equivalents': {'Mar 2022': '361.78B',
     'Year/year change': '107.96%'}},
   {'Cost of revenue': {'Mar 2022': '1.45T', 'Year/year change': '40.15%'}}]},
 'people_also_search_for': {'items': [{'position': 1,
    'ticker': '500180',
    'ticker_link': 'https://www.google.com/finance/quote/500180:BOM',
    'title': 'HDFC Bank Limited',
    'price': '₹1,351.95',
    'price_change': 'Down by 1.84%',
    'price_change_formatted': '1.84%'},
   {'position': 2,
    'ticker': '500312',
    'ticker_link': 'https://www.google.com/finance/quote/500312:BOM',
    'title': 'Oil & Natural Gas Corporation Limited',
    'price': '₹164.70',
    'price_change': 'Down by 0.54%',
    'price_change_formatted': '0.54%'},
   {'position': 3,
    'ticker': '500470',
    'ticker_link': 'https://www.google.com/finance/quote/500470:BOM',
    'title': 'Tata Steel Limited Fully Paid Ord. Shrs',
    'price': '₹1,017.45',
    'price_change': 'Down by 2.67%',
    'price_change_formatted': '2.67%'},
   {'position': 4,
    'ticker': '532540',
    'ticker_link': 'https://www.google.com/finance/quote/532540:BOM',
    'title': 'Tata Consultancy Services Limited',
    'price': '₹3,370.55',
    'price_change': 'Down by 1.63%',
    'price_change_formatted': '1.63%'},
   {'position': 5,
    'ticker': '500209',
    'ticker_link': 'https://www.google.com/finance/quote/500209:BOM',
    'title': 'Infosys Ltd',
    'price': '₹1,487.80',
    'price_change': 'Down by 1.77%',
    'price_change_formatted': '1.77%'},
   {'position': 6,
    'ticker': '532174',
    'ticker_link': 'https://www.google.com/finance/quote/532174:BOM',
    'title': 'ICICI Bank Ltd',
    'price': '₹727.30',
    'price_change': 'Down by 0.77%',
    'price_change_formatted': '0.77%'},
   {'position': 7,
    'ticker': '500010',
    'ticker_link': 'https://www.google.com/finance/quote/500010:BOM',
    'title': 'Housing Development Finance Corp Ltd',
    'price': '₹2,199.95',
    'price_change': 'Down by 2.90%',
    'price_change_formatted': '2.90%'},
   {'position': 8,
    'ticker': '500696',
    'ticker_link': 'https://www.google.com/finance/quote/500696:BOM',
    'title': 'Hindustan Unilever Ltd',
    'price': '₹2,189.65',
    'price_change': 'Down by 0.33%',
    'price_change_formatted': '0.33%'},
   {'position': 9,
    'ticker': '500875',
    'ticker_link': 'https://www.google.com/finance/quote/500875:BOM',
    'title': 'ITC Ltd',
    'price': '₹270.45',
    'price_change': 'Down by 0.15%',
    'price_change_formatted': '0.15%'},
   {'position': 10,
    'ticker': '500510',
    'ticker_link': 'https://www.google.com/finance/quote/500510:BOM',
    'title': 'Larsen & Toubro Limited',
    'price': '₹1,576.25',
    'price_change': 'Down by 1.25%',
    'price_change_formatted': '1.25%'},
   {'position': 11,
    'ticker': '500247',
    'ticker_link': 'https://www.google.com/finance/quote/500247:BOM',
    'title': 'Kotak Mahindra Bank Ltd Fully Paid Ord. Shrs',
    'price': '₹1,813.00',
    'price_change': 'Down by 2.84%',
    'price_change_formatted': '2.84%'},
   {'position': 12,
    'ticker': '532454',
    'ticker_link': 'https://www.google.com/finance/quote/532454:BOM',
    'title': 'Bharti Airtel Limited',
    'price': '₹674.10',
    'price_change': 'Down by 0.35%',
    'price_change_formatted': '0.35%'},
   {'position': 13,
    'ticker': '500112',
    'ticker_link': 'https://www.google.com/finance/quote/500112:BOM',
    'title': 'State Bank of India',
    'price': '₹462.90',
    'price_change': 'Down by 0.85%',
    'price_change_formatted': '0.85%'},
   {'position': 14,
    'ticker': '532215',
    'ticker_link': 'https://www.google.com/finance/quote/532215:BOM',
    'title': 'Axis Bank Ltd',
    'price': '₹662.25',
    'price_change': 'Up by 0.17%',
    'price_change_formatted': '0.17%'},
   {'position': 15,
    'ticker': '500034',
    'ticker_link': 'https://www.google.com/finance/quote/500034:BOM',
    'title': 'Bajaj Finance Ltd',
    'price': '₹5,700.15',
    'price_change': 'Down by 3.35%',
    'price_change_formatted': '3.35%'},
   {'position': 16,
    'ticker': '500520',
    'ticker_link': 'https://www.google.com/finance/quote/500520:BOM',
    'title': 'Mahindra & Mahindra Limited',
    'price': '₹1,040.10',
    'price_change': 'Down by 0.48%',
    'price_change_formatted': '0.48%'},
   {'position': 17,
    'ticker': '532500',
    'ticker_link': 'https://www.google.com/finance/quote/532500:BOM',
    'title': 'Maruti Suzuki India Ltd',
    'price': '₹7,945.40',
    'price_change': 'Up by 0.25%',
    'price_change_formatted': '0.25%'},
   {'position': 18,
    'ticker': '532555',
    'ticker_link': 'https://www.google.com/finance/quote/532555:BOM',
    'title': 'NTPC Limited',
    'price': '₹154.85',
    'price_change': 'Down by 0.23%',
    'price_change_formatted': '0.23%'}]},
 'interested_in': {'items': [{'position': 1,
    'ticker': 'Index',
    'ticker_link': 'https://www.google.com/finance/quote/SENSEX:INDEXBOM',
    'title': 'BSE SENSEX',
    'price': '54,613.67',
    'price_change': 'Down by 1.28%',
    'price_change_formatted': '1.28%'},
   {'position': 2,
    'ticker': 'Index',
    'ticker_link': 'https://www.google.com/finance/quote/NIFTY_50:INDEXNSE',
    'title': 'NIFTY 50',
    'price': '16,278.25',
    'price_change': 'Down by 1.21%',
    'price_change_formatted': '1.21%'},
   {'position': 3,
    'ticker': 'Index',
    'ticker_link': 'https://www.google.com/finance/quote/.DJI:INDEXDJX',
    'title': 'Dow Jones Industrial Average',
    'price': '32,272.79',
    'price_change': 'Down by 1.94%',
    'price_change_formatted': '1.94%'},
   {'position': 4,
    'ticker': 'BSE',
    'ticker_link': 'https://www.google.com/finance/quote/BSE:NSE',
    'title': 'BSE Ltd',
    'price': '₹717.65',
    'price_change': 'Down by 1.50%',
    'price_change_formatted': '1.50%'},
   {'position': 5,
    'ticker': 'Index',
    'ticker_link': 'https://www.google.com/finance/quote/.INX:INDEXSP',
    'title': 'S&P 500',
    'price': '4,017.82',
    'price_change': 'Down by 2.38%',
    'price_change_formatted': '2.38%'},
   {'position': 6,
    'ticker': 'RELIANCE',
    'ticker_link': 'https://www.google.com/finance/quote/RELIANCE:NSE',
    'title': 'Reliance Industries Ltd',
    'price': '₹2,764.80',
    'price_change': 'Down by 1.21%',
    'price_change_formatted': '1.21%'},
   {'position': 7,
    'ticker': 'ITC',
    'ticker_link': 'https://www.google.com/finance/quote/ITC:NSE',
    'title': 'ITC Ltd',
    'price': '₹270.45',
    'price_change': 'Down by 0.15%',
    'price_change_formatted': '0.15%'},
   {'position': 8,
    'ticker': 'SBIN',
    'ticker_link': 'https://www.google.com/finance/quote/SBIN:NSE',
    'title': 'State Bank of India',
    'price': '₹462.70',
    'price_change': 'Down by 0.91%',
    'price_change_formatted': '0.91%'},
   {'position': 9,
    'ticker': 'M&M',
    'ticker_link': 'https://www.google.com/finance/quote/M&M:NSE',
    'title': 'Mahindra & Mahindra Limited',
    'price': '₹1,040.00',
    'price_change': 'Down by 0.49%',
    'price_change_formatted': '0.49%'},
   {'position': 10,
    'ticker': 'YESBANK',
    'ticker_link': 'https://www.google.com/finance/quote/YESBANK:NSE',
    'title': 'Yes Bank Limited',
    'price': '₹13.15',
    'price_change': 'Down by 0.38%',
    'price_change_formatted': '0.38%'},
   {'position': 11,
    'ticker': 'NS',
    'ticker_link': 'https://www.google.com/finance/quote/NS:NYSE',
    'title': 'NuStar Energy L.P.',
    'price': '$16.31',
    'price_change': 'Up by 2.00%',
    'price_change_formatted': '2.00%'},
   {'position': 12,
    'ticker': 'Index',
    'ticker_link': 'https://www.google.com/finance/quote/VIX:INDEXCBOE',
    'title': 'VIX',
    'price': '26.09',
    'price_change': 'Up by 8.89%',
    'price_change_formatted': '8.89%'},
   {'position': 13,
    'ticker': 'CNC',
    'ticker_link': 'https://www.google.com/finance/quote/CNC:NYSE',
    'title': 'Centene Corp',
    'price': '$80.02',
    'price_change': 'Down by 3.10%',
    'price_change_formatted': '3.10%'},
   {'position': 14,
    'ticker': 'CPP',
    'ticker_link': 'https://www.google.com/finance/quote/CPP:LON',
    'title': 'CPPGroup Plc',
    'price': 'GBX\xa0200.00',
    'price_change': 'Up by 3.36%',
    'price_change_formatted': '3.36%'},
   {'position': 15,
    'ticker': 'IDEA',
    'ticker_link': 'https://www.google.com/finance/quote/IDEA:NSE',
    'title': 'Vodafone Idea Ltd',
    'price': '₹9.15',
    'price_change': 'Down by 0.54%',
    'price_change_formatted': '0.54%'},
   {'position': 16,
    'ticker': 'INDUSINDBK',
    'ticker_link': 'https://www.google.com/finance/quote/INDUSINDBK:NSE',
    'title': 'Indusind Bank Ltd',
    'price': '₹913.25',
    'price_change': 'Down by 0.77%',
    'price_change_formatted': '0.77%'},
   {'position': 17,
    'ticker': 'UPL',
    'ticker_link': 'https://www.google.com/finance/quote/UPL:NSE',
    'title': 'UPL Ltd Fully Paid Ord. Shrs',
    'price': '₹737.40',
    'price_change': 'Down by 1.32%',
    'price_change_formatted': '1.32%'},
   {'position': 18,
    'ticker': 'INFY',
    'ticker_link': 'https://www.google.com/finance/quote/INFY:NSE',
    'title': 'Infosys Ltd',
    'price': '₹1,487.80',
    'price_change': 'Down by 1.80%',
    'price_change_formatted': '1.80%'}]}}

## Extract Google Finance Chart Time-Series Data

In [ ]:
# https://apis.google.com/_/scs/abc-static/_/js/k=gapi.gapi.en.BYmJjssVfqI.O/m=gapi_iframes,googleapis_client/rt=j/sv=1/d=1/ed=1/rs=AHpOoo80_DzWbqWOZXEixUAk9-Z2HYlC7A/cb=gapi.loaded_0

In [90]:
ticker=symbol

In [91]:
params = {"hl": "en"}
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.60 Safari/537.36",
        }
html = requests.get(f"https://www.google.com/finance/quote/{ticker}", params=params, headers=headers, timeout=30)

In [67]:
# print(html.text)

In [92]:
print(html.status_code)

200

In [93]:
soup = BeautifulSoup(html.content, 'html.parser')

In [69]:
# Extract title of page
page_title = soup.title.text

# Extract body of page
page_body = soup.body

# Extract head of page
page_head = soup.head

In [ ]:
page_body

In [32]:
soup = BeautifulSoup(html.content, 'lxml')

In [73]:
first_h1 = soup.select_one(".zzDege").text
first_h1

'Reliance Industries Ltd'

In [74]:
soup.select_one(".AHmHk .fxKbKc").text

'₹2,766.90'

In [75]:
soup.select(".gyFHrc .mfs7Fc")

[<div aria-describedby="tt0i14" class="mfs7Fc" data-tooltip-anchor-boundary-type="2" data-tooltip-x-position="2" jsaction="mouseenter:tfO1Yc; focus:AHmuwe; blur:O22p3e; mouseleave:JywGue; touchstart:p6p2H; touchend:yfqBxc;mlnRJb:fLiPzd;" jscontroller="e2jnoe">Previous close</div>,
 <div aria-describedby="tt1i15" class="mfs7Fc" data-tooltip-anchor-boundary-type="2" data-tooltip-x-position="2" jsaction="mouseenter:tfO1Yc; focus:AHmuwe; blur:O22p3e; mouseleave:JywGue; touchstart:p6p2H; touchend:yfqBxc;mlnRJb:fLiPzd;" jscontroller="e2jnoe">Day range</div>,
 <div aria-describedby="tt2i16" class="mfs7Fc" data-tooltip-anchor-boundary-type="2" data-tooltip-x-position="2" jsaction="mouseenter:tfO1Yc; focus:AHmuwe; blur:O22p3e; mouseleave:JywGue; touchstart:p6p2H; touchend:yfqBxc;mlnRJb:fLiPzd;" jscontroller="e2jnoe">Year range</div>,
 <div aria-describedby="tt3i17" class="mfs7Fc" data-tooltip-anchor-boundary-type="2" data-tooltip-x-position="2" jsaction="mouseenter:tfO1Yc; focus:AHmuwe; blur:O22p3e; mouseleave:JywGue; touchstart:p6p2H; touchend:yfqBxc;mlnRJb:fLiPzd;" jscontroller="e2jnoe">Market cap</div>,
 <div aria-describedby="tt5i18" class="mfs7Fc" data-tooltip-anchor-boundary-type="2" data-tooltip-x-position="2" jsaction="mouseenter:tfO1Yc; focus:AHmuwe; blur:O22p3e; mouseleave:JywGue; touchstart:p6p2H; touchend:yfqBxc;mlnRJb:fLiPzd;" jscontroller="e2jnoe">P/E ratio</div>,
 <div aria-describedby="tt6i19" class="mfs7Fc" data-tooltip-anchor-boundary-type="2" data-tooltip-x-position="2" jsaction="mouseenter:tfO1Yc; focus:AHmuwe; blur:O22p3e; mouseleave:JywGue; touchstart:p6p2H; touchend:yfqBxc;mlnRJb:fLiPzd;" jscontroller="e2jnoe">Dividend yield</div>,
 <div aria-describedby="tt7i20" class="mfs7Fc" data-tooltip-anchor-boundary-type="2" data-tooltip-x-position="2" jsaction="mouseenter:tfO1Yc; focus:AHmuwe; blur:O22p3e; mouseleave:JywGue; touchstart:p6p2H; touchend:yfqBxc;mlnRJb:fLiPzd;" jscontroller="e2jnoe">Primary exchange</div>,
 <div class="mfs7Fc"><span aria-hidden="true" class="gnzz8b"><svg class="NMm5M" focusable="false" height="14" viewbox="0 0 24 24" width="14"><path d="M12 6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2m0 9c2.7 0 5.8 1.29 6 2v1H6v-.99c.2-.72 3.3-2.01 6-2.01m0-11C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"></path></svg></span>CEO</div>,
 <div class="mfs7Fc"><span aria-hidden="true" class="gnzz8b"><svg class="NMm5M" focusable="false" height="14" viewbox="0 0 24 24" width="14"><path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10z"></path><path d="M14.5 13a2.5 2.5 0 0 0 0 5 2.5 2.5 0 0 0 0-5z"></path></svg></span>Founded</div>,
 <div class="mfs7Fc"><span aria-hidden="true" class="gnzz8b"><svg class="NMm5M" focusable="false" height="14" viewbox="0 0 24 24" width="14"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zM7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85 7 9z"></path><circle cx="12" cy="9" r="2.5"></circle></svg></span>Headquarters</div>,
 <div class="mfs7Fc"><span aria-hidden="true" class="gnzz8b"><svg class="NMm5M" focusable="false" height="14" viewbox="0 0 24 24" width="14"><path d="M20 4H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16c1.1 0 2-.9 2-2V6a2 2 0 0 0-2-2zm0 14H4V8h16v10z"></path></svg></span>Website</div>,
 <div class="mfs7Fc"><span aria-hidden="true" class="gnzz8b"><svg class="NMm5M" focusable="false" height="14" viewbox="0 0 24 24" width="14"><path d="M15 8c0-1.42-.5-2.73-1.33-3.76.42-.14.86-.24 1.33-.24 2.21 0 4 1.79 4 4s-1.79 4-4 4c-.43 0-.84-.09-1.23-.21-.03-.01-.06-.02-.1-.03A5.98 5.98 0 0 0 15 8zm1.66 5.13C18.03 14.06 19 15.32 19 17v3h4v-3c0-2.18-3.58-3.47-6.34-3.87zM9 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2m0 9c-2.7 0-5.8 1.29-6 2.01V18h12v-1c-.2-.71-3.3-2-6-2M9 4c2.21 0 4 1.79 4 4s-1.79 4-4 4-4-1.79-4-4 1.79-4 4-4zm0 9c2.67 0 8 1.34 8 4v3H1v-3c0-2.66 5.33-4 8-4z"></path></svg></span>Employees</div>]

In [76]:
soup.select(".gyFHrc .P6K39c")

[<div class="P6K39c">₹2,779.50</div>,
 <div class="P6K39c">₹2,751.55 - ₹2,813.75</div>,
 <div class="P6K39c">₹2,016.60 - ₹2,855.00</div>,
 <div class="P6K39c">18.73T INR</div>,
 <div class="P6K39c">30.46</div>,
 <div class="P6K39c">-</div>,
 <div class="P6K39c">NSE</div>,
 <div class="P6K39c"><a class="tBHE4e" href="https://www.google.com/search?q=Mukesh%20Ambani&amp;hl=en" target="_blank">Mukesh Ambani</a></div>,
 <div class="P6K39c">May 8, 1973</div>,
 <div class="P6K39c"><a class="tBHE4e" href="https://www.google.com/maps/place/Makers%20Chambers%20-%20IV%2C%20%20Nariman%20Point%2C%20Mumbai%2C%20Maharashtra%2C%20India?hl=en" target="_blank">Mumbai, Maharashtra<br/>India</a></div>,
 <div class="P6K39c"><a class="tBHE4e" href="http://www.ril.com/" rel="noopener noreferrer" target="_blank">ril.com</a></div>,
 <div class="P6K39c">236,334</div>]

In [77]:
soup.select(".ygUjEc")

In [23]:
soup = BeautifulSoup(html.content, 'html.parser')

In [24]:
soup.select(".hSGhwc")

[]

In [25]:
soup.select(".Zelcpf")

[]

In [26]:
soup.select(".ushogf")

In [27]:
soup.select(".pmHZZb")

[]

In [28]:
soup.select(".gJBfM")

[]

In [29]:
soup.select(".NuOFub")

[]

In [30]:
soup.select(".nvTgfe")

[]

In [33]:
soup.select(".hSGhwc-Z1Y4af")

[]

In [26]:
ticker='RELIANCE:NSE'

In [29]:
html = requests.get(f"https://www.google.com/finance/quote/{ticker}?window=MAX", params=params, headers=headers, timeout=30)

In [43]:
# Extract title of page
page_title = soup.title.text

# Extract body of page
page_body = soup.body

# Extract head of page
page_head = soup.head

In [44]:
page_title

'Reliance Industries Ltd (500325) Stock Price & News - Google Finance'

In [97]:
soup.select_one(".ygUjEc")

In [99]:
params = {"hl": "en"}
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.60 Safari/537.36",
        }

In [107]:
soup.select_one(".AHmHk .fxKbKc").text

'₹2,758.50'

In [83]:
soup.select(".VfPpkd-jY41G-V67aGc")

[<span class="VfPpkd-jY41G-V67aGc" jsname="V67aGc">1D</span>,
 <span class="VfPpkd-jY41G-V67aGc" jsname="V67aGc">5D</span>,
 <span class="VfPpkd-jY41G-V67aGc" jsname="V67aGc">1M</span>,
 <span class="VfPpkd-jY41G-V67aGc" jsname="V67aGc">6M</span>,
 <span class="VfPpkd-jY41G-V67aGc" jsname="V67aGc">YTD</span>,
 <span class="VfPpkd-jY41G-V67aGc" jsname="V67aGc">1Y</span>,
 <span class="VfPpkd-jY41G-V67aGc" jsname="V67aGc">5Y</span>,
 <span class="VfPpkd-jY41G-V67aGc" jsname="V67aGc">MAX</span>]

In [30]:
soup = BeautifulSoup(html.content, 'html.parser')

In [31]:
soup.select(".ushogf")

In [40]:
soup.select(".ushogf .hSGhwc .hSGhwc-SeJRAd")

[]

In [42]:
soup.select(".hSGhwc-IOpRCf")

[]

In [43]:
data = (88,56,"John","67","7")

In [64]:
data = (88,56,67,7)

In [67]:
data[0]+-data[len(data)-1]

81

In [ ]:
'https://www.google.com/finance/quote/RELIANCE:NSE#YwQBze-550'
'https://www.google.com/finance/quote/RELIANCE:NSE#varkUe-550'

In [68]:
soup.select(".gJBfM")

[]

# Timezone operation

In [ ]:
# https://www.geeksforgeeks.org/get-current-time-in-different-timezone-using-python/

In [10]:
import time
curr_time = time.localtime()
curr_clock = time.strftime("%H:%M:%S", curr_time)

In [3]:
print(curr_time)

time.struct_time(tm_year=2022, tm_mon=6, tm_mday=10, tm_hour=9, tm_min=53, tm_sec=35, tm_wday=4, tm_yday=161, tm_isdst=0)

In [11]:
print(curr_clock)

09:54:10

In [4]:
# # get the standard UTC time
# UTC = pytz.utc

# it will get the time zone
# of the specified location

# # print the date and time in
# # standard format
# print("UTC in Default Format : ",
# 	datetime.now(UTC))



# # # print the date and time in
# # # specified format
# # datetime_utc = datetime.now(UTC)
# # print("Date & Time in UTC : ",
# # 	datetime_utc.strftime('%Y:%m:%d %H:%M:%S %Z %z'))

# datetime_ist = datetime.now(IST)
# print("Date & Time in IST : ",
# 	datetime_ist.strftime('%Y:%m:%d %H:%M:%S %Z %z'))

In [6]:
from datetime import datetime
import pytz

In [119]:
IST = pytz.timezone('Asia/Kolkata')
vs2 =0
while True:
    try:    
        cur_Time = datetime.now(IST)
        print(cur_Time, end='\r')
        # if cur_Time[17:19] == '00':
        #     print('open')
        #     continue
    except:
        break

2022-06-10 11:27:34.339963+05:30

In [38]:
t = '2022-06-10 10:49:00.304888+05:30'
if t[17:19] == '00':
    print('open')

open

In [123]:
symbol

'500325:BOM'