In [2]:
import cx_Oracle
# import requests
# import flask

In [2]:
# pip install cx_Oracle

# Creating a basic connection

import cx_Oracle

import db_config

con = cx_Oracle.connect(db_config.user, db_config.pw, db_config.dsn)

print("Database version:", con.version)

where oci.dll

In [3]:
# cx_Oracle.init_oracle_client(lib_dir=r"C:\oracle\instantclient_19_9")
cx_Oracle.init_oracle_client(lib_dir=r"C:\Oracle\instantclient_21_3")

In [3]:
print(cx_Oracle.version)

8.3.0

In [4]:
con = cx_Oracle.connect('TRAINEE19/TRAINEE19@//192.168.0.99:1521/rmclient')
print(con.version)

12.1.0.2.0

In [6]:
cur = con.cursor()

In [6]:
sql_create = """
CREATE TABLE CEO_DETAILS(
    FIRST_NAME VARCHAR2(50),
    LAST_NAME VARCHAR2(50),
    COMPANY VARCHAR(50),
    AGE NUMBER
)
"""

In [5]:
cur.execute(sql_create)
print('Table Created.')

# Connection & Table Insertion

In [8]:
try:
    # Create connection
    con = cx_Oracle.connect('TRAINEE19/TRAINEE19@//192.168.0.99:1521/rmclient')
except Exception as err:
    print('Error while creating the connection ', err)
else:
    print(con.version)
    try:
        # create cursor
        cur = con.cursor()
        sql_insert = """ 
        INSERT INTO CEO_DETAILS VALUES ('Steve','Jobs','Apple','56')
        """
        cur.execute(sql_insert)
    except Exception as err:
        print('Error while inserting the data', err)
    else:
        print('Table Insert completed.')
        con.commit()
finally:
    cur.close()
    con.close()

12.1.0.2.0
Table Insert completed.

# Table Insertion Multiple records

In [9]:
try:
    # Create connection
    con = cx_Oracle.connect('TRAINEE19/TRAINEE19@//192.168.0.99:1521/rmclient')
except Exception as err:
    print('Error while creating the connection ', err)
else:
    print(con.version)
    try:
        # create cursor
        cur = con.cursor()
        sql_insert = """ 
        INSERT INTO CEO_DETAILS VALUES (:1, :2, :3, :4)
        """
        data = [('Sundar','Pichai','Google',47),('Mark','Zuck','Meta',45),('Kabilan','S','RoadmapIT',54)]
        cur.executemany(sql_insert,data)
    except Exception as err:
        print('Error while inserting the data', err)
    else:
        print('Table Insert completed.')
        con.commit()
finally:
    cur.close()
    con.close()

12.1.0.2.0
Table Insert completed.

# Python_Oracle_Db_Fetchall

In [10]:
try:
    con = cx_Oracle.connect('TRAINEE19/TRAINEE19@//192.168.0.99:1521/rmclient')
except Exception as err:
    print('Error while creating the connection ', err)
else:
    try:
        cur = con.cursor()
        sql_fetch = """
        SELECT * FROM CEO_DETAILS
        """
        cur.execute(sql_fetch)
        data = cur.fetchall()
        print(data)
    except Exception as err:
        print('Exception occurred while fetching the record', err)
    else:
        print('Fetched.')
    finally:
        cur.close()
finally:
    con.close()

[('Steve', 'Jobs', 'Apple', 56), ('Sundar', 'Pichai', 'Google', 47), ('Mark', 'Zuck', 'Meta', 45), ('Kabilan', 'S', 'RoadmapIT', 54), ('Steve', 'Jobs', 'Apple', 56)]
Fetched.

In [11]:
try:
    con = cx_Oracle.connect('TRAINEE19/TRAINEE19@//192.168.0.99:1521/rmclient')
except Exception as err:
    print('Error while creating the connection ', err)
else:
    try:
        cur = con.cursor()
        sql_fetch = """
        SELECT * FROM CEO_DETAILS
        """
        cur.execute(sql_fetch)
        data = cur.fetchall()
        print(data)

        for index, record in enumerate(data):
            print('Index ', index, ' : ', record)
    except Exception as err:
        print('Exception occurred while fetching the record', err)
    else:
        print('Fetched.')
    finally:
        cur.close()
finally:
    con.close()

[('Steve', 'Jobs', 'Apple', 56), ('Sundar', 'Pichai', 'Google', 47), ('Mark', 'Zuck', 'Meta', 45), ('Kabilan', 'S', 'RoadmapIT', 54), ('Steve', 'Jobs', 'Apple', 56)]
Index  0  :  ('Steve', 'Jobs', 'Apple', 56)
Index  1  :  ('Sundar', 'Pichai', 'Google', 47)
Index  2  :  ('Mark', 'Zuck', 'Meta', 45)
Index  3  :  ('Kabilan', 'S', 'RoadmapIT', 54)
Index  4  :  ('Steve', 'Jobs', 'Apple', 56)
Fetched.

# Python_Oracle_Db_Fetchone

In [1]:
import cx_Oracle
cx_Oracle.init_oracle_client(lib_dir=r"C:\Oracle\instantclient_21_3")

try:
    con = cx_Oracle.connect('TRAINEE19/TRAINEE19@//192.168.0.99:1521/rmclient')
except Exception as err:
    print('Error while creating the connection ', err)
else:
    try:
        cur = con.cursor()
        sql_fetch = """
        SELECT * FROM CEO_DETAILS
        """
        cur.execute(sql_fetch)
        data_r1 = cur.fetchone()
        print(data_r1)
        data_r2 = cur.fetchone()
        print(data_r2)

        # for index, record in enumerate(data_r1):
        #     print('Index ', index, ' : ', record)
    except Exception as err:
        print('Exception occurred while fetching the record', err)
    else:
        print('Fetched.')
    finally:
        cur.close()
finally:
    con.close()

('Sundar', 'Pichai', 'Google', 47, 1)
('Mark', 'Zuck', 'Meta', 45, 2)
Fetched.

# Python_Oracle_Db_Fetchmany

In [3]:
# import cx_Oracle
# cx_Oracle.init_oracle_client(lib_dir=r"C:\Oracle\instantclient_21_3")

try:
    con = cx_Oracle.connect('TRAINEE19/TRAINEE19@//192.168.0.99:1521/rmclient')
except Exception as err:
    print('Error while creating the connection ', err)
else:
    try:
        cur = con.cursor()
        sql_fetch = """
        SELECT * FROM CEO_DETAILS
        """
        cur.execute(sql_fetch)
        data = cur.fetchmany(3)
        print(data)

        # for index, record in enumerate(data_r1):
        #     print('Index ', index, ' : ', record)
    except Exception as err:
        print('Exception occurred while fetching the record', err)
    else:
        print('Fetched.')
    finally:
        cur.close()
finally:
    con.close()

[('Sundar', 'Pichai', 'Google', 47, 1), ('Mark', 'Zuck', 'Meta', 45, 2), ('Kabilan', 'S', 'RoadmapIT', 54, 3)]
Fetched.

# Python_Oracle_Db_Fetchall_with_header

In [12]:
import pandas as pd

try:
    con = cx_Oracle.connect('TRAINEE19/TRAINEE19@//192.168.0.99:1521/rmclient')
except Exception as err:
    print('Error while creating the connection ', err)
else:
    try:
        cur = con.cursor()
        sql_fetch = """
        SELECT * FROM CEO_DETAILS
        """
        cur.execute(sql_fetch)
        data = cur.fetchall()
        Q = cur.execute(sql_fetch)
        col = []
        for column in Q.description:
            col.append(column[0])
        df = pd.DataFrame(data)
        df.columns = col
        print(df)
#         df.to_csv('ceo_data.csv') #index=False,
#         print('Table saved as CSV.')
    except Exception as err:
        print('Exception occurred while fetching the record', err)
    else:
        print('Fetched.')
    finally:
        cur.close()
finally:
    con.close()

  FIRST_NAME LAST_NAME    COMPANY  AGE  ID
0     Sundar    Pichai     Google   47   1
1       Mark      Zuck       Meta   45   2
2    Kabilan         S  RoadmapIT   54   3
3      Steve      Jobs      Apple   64   4
Fetched.

# Executing SQL queries with Bind Variables from python script

In [14]:
try:
    con = cx_Oracle.connect('TRAINEE19/TRAINEE19@//192.168.0.99:1521/rmclient')
except Exception as err:
    print('Error while creating the connection ', err)
else:
    try:
        cur = con.cursor()
        sql_fetch = """
        SELECT * FROM CEO_DETAILS WHERE AGE <= :age 
        """
        cur.execute(sql_fetch, {'age': 50})
        data = cur.fetchall()
        Q = cur.execute(sql_fetch)
        col = []
        for column in Q.description:
            col.append(column[0])
        df = pd.DataFrame(data)
        df.columns = col
        print(df)
#         df.to_csv('ceo_data.csv') # index=False,
#         print('Table saved as CSV.')
    except Exception as err:
        print('Exception occurred while fetching the record', err)
    else:
        print('Fetched.')
    finally:
        cur.close()
finally:
    con.close()

  FIRST_NAME LAST_NAME COMPANY  AGE  ID
0     Sundar    Pichai  Google   47   1
1       Mark      Zuck    Meta   45   2
Fetched.

In [15]:
try:
    con = cx_Oracle.connect('TRAINEE19/TRAINEE19@//192.168.0.99:1521/rmclient')
except Exception as err:
    print('Error while creating the connection ', err)
else:
    try:
        cur = con.cursor()
        sql_fetch = """
        SELECT * FROM CEO_DETAILS WHERE AGE <= :age AND COMPANY =:comp 
        """
        cur.execute(sql_fetch, {'age': 50, 'comp': 'Google'})
        data = cur.fetchall()
        Q = cur.execute(sql_fetch)
        col = []
        for column in Q.description:
            col.append(column[0])
        df = pd.DataFrame(data)
        df.columns = col
        print(df)
#         df.to_csv('ceo_data.csv') # index=False,
#         print('Table saved as CSV.')
    except Exception as err:
        print('Exception occurred while fetching the record', err)
    else:
        print('Fetched.')
    finally:
        cur.close()
finally:
    con.close()

  FIRST_NAME LAST_NAME COMPANY  AGE  ID
0     Sundar    Pichai  Google   47   1
Fetched.

# Execute Oracle Procedure

In [16]:
# # Execute the below procedure in SQL DB/ Query of the TABLE
# # STEP 1----------------------------------------------------------
# CREATE OR REPLACE PROCEDURE INS_CEO_DETAILS (P_F_NAME VARCHAR2, P_L_NAME VARCHAR2, P_COMPANY VARCHAR2, P_AGE NUMBER)
# IS
# BEGIN
# INSERT INTO CEO_DETAILS VALUES (P_F_NAME, P_L_NAME, P_COMPANY, P_AGE);
# COMMIT;
# END;

try:
    con = cx_Oracle.connect('TRAINEE19/TRAINEE19@//192.168.0.99:1521/rmclient')
except Exception as err:
    print('Error while creating the connection ', err)
else:
    try:
        cur = con.cursor()
        f_name = input('First Name : ')
        l_name = input('Last Name : ')
        Company = input('Company : ')
        age = input('Age : ')
        ID = input('New_ID : ')
        data = [f_name, l_name, Company, age, ID]
        cur.callproc('INS_CEO_DETAILS', data)
    except Exception as err:
        print('Exception occurred while fetching the record', err)
    else:
        print('Procedure INS_CEO_DETAILS executed.')
    finally:
        cur.close()
finally:
    con.close()

First Name : Ratan Naval
Last Name : Tata
Company : Tata Group
Age : 84
New_ID : 11
Procedure INS_CEO_DETAILS executed.

# PyODb_Execute Oracle Function

In [17]:
# # Execute the below FUNCTION in SQL DB/ Query of the TABLE
# # ----------------------------------------------------------
# CREATE OR REPLACE FUNCTION ADD_INT (F_NUM1 NUMBER, F_NUM2 NUMBER)
# RETURN NUMBER
# IS
# BEGIN
#   RETURN F_NUM1 + F_NUM2;
# END;
# /

try:
    con = cx_Oracle.connect('TRAINEE19/TRAINEE19@//192.168.0.99:1521/rmclient')
except Exception as err:
    print('Error while creating the connection ', err)
else:
    try:
        cur = con.cursor()
        data = [10, 11]
        result = cur.callfunc('ADD_INT', int, data)
    except Exception as err:
        print('Exception occurred while executing the function.', err)
    else:
        print('Result : ', result)
        # print('Procedure INS_CEO_DETAILS executed.')
    finally:
        cur.close()
finally:
    con.close()

Result :  21

# PyODb_extract table data_csv file

In [18]:
con = cx_Oracle.connect('TRAINEE19/TRAINEE19@//192.168.0.99:1521/rmclient')
sql_query = pd.read_sql_query('''SELECT * FROM CEO_DETAILS''', con)
print(sql_query)
# sql_query.to_csv('sql_data_export_CEO.csv', index=False)

     FIRST_NAME LAST_NAME     COMPANY  AGE  ID
0         Jerry      Shen        ASUS   62  10
1        Sundar    Pichai      Google   47   1
2          Mark      Zuck        Meta   45   2
3       Kabilan         S   RoadmapIT   54   3
4         Steve      Jobs       Apple   64   4
5         Ganga      Babu          GB   26   5
6          Marc  Randolph     Netflix   61   6
7          Jeff     bezos      Amazon   58   7
8          Reed   Hasting     Netflix   59   8
9        Ki Nam       Kim     Samsung   40   9
10  Ratan Naval      Tata  Tata Group   84  11

# Import a CSV file into an Oracle database

In [ ]:
import cx_Oracle
import pandas as pd

cx_Oracle.init_oracle_client(lib_dir=r"C:\Oracle\instantclient_21_3")
# con = cx_Oracle.connect('TRAINEE19/TRAINEE19@//192.168.0.99:1521/rmclient')

# # Step 1. Prepare or identify your data
irisData = pd.read_csv('https://github.com/Muhd-Shahid/Write-Raw-File-into-Database-Server/raw/main/iris.csv', index_col=False)
print(irisData.head())
print(irisData.info())

# # Step 2. Connect to the Oracle and create a table
from cx_Oracle import DatabaseError

try:
    conn = cx_Oracle.connect('TRAINEE19/TRAINEE19@//192.168.0.99:1521/rmclient')
    if conn:
        print("cx_Oracle version:", cx_Oracle.version)
        print("Database version:", conn.version)
        print("Client version:", cx_Oracle.clientversion())

        # Now execute the sqlquery
        cursor = conn.cursor()
        print("You're connected.................")

        # Drop table if exists
        print('Droping iris table if exists............')
        cursor.execute("BEGIN EXECUTE IMMEDIATE 'DROP TABLE iris'; EXCEPTION WHEN OTHERS THEN NULL; END;")

        print('Creating table iris............')
        cursor.execute(
            "CREATE TABLE iris (sepal_length number(3,1) NOT NULL, "
            "sepal_width number(3,1) NOT NULL, "
            "petal_length number(3,1) NOT NULL, "
            "petal_width number(3,1),"
            "species varchar2(10) NOT NULL)")
        print("iris table is created..............")
except DatabaseError as e:
    err, = e.args
    print("Oracle-Error-Code:", err.code)
    print("Oracle-Error-Message:", err.message)
finally:
    cursor.close()
    conn.close()

# # Step 3. Import the CSV data into the Oracle database

import cx_Oracle
from cx_Oracle import DatabaseError
try:
    conn = cx_Oracle.connect('TRAINEE19/TRAINEE19@//192.168.0.99:1521/rmclient')
    if conn:
        print("cx_Oracle version:", cx_Oracle.version)
        print("Database version:", conn.version)
        print("Client version:", cx_Oracle.clientversion())
        cursor = conn.cursor()
        print("You're connected: ")
        print('Inserting data into table....')
        for i, row in irisData.iterrows():
            sql = "INSERT INTO iris(sepal_length,sepal_width,petal_length,petal_width,species) VALUES(:1,:2,:3,:4,:5)"
            cursor.execute(sql, tuple(row))
        # the connection is not autocommitted by default, so we must commit to save our changes
        conn.commit()
        print("Record Inserted Successfully.")
except DatabaseError as e:
    err, = e.args
    print("Oracle-Error-Code:", err.code)
    print("Oracle-Error-Message:", err.message)
finally:
    cursor.close()
    conn.close()

# # 3.1.1. Query the database to check our work

conn = cx_Oracle.connect('TRAINEE19/TRAINEE19@//192.168.0.99:1521/rmclient')
cursor = conn.cursor()
# Execute query
sql = "SELECT * FROM iris"
cursor.execute(sql)
# Fetch all the records
result = cursor.fetchall()
for i in result:
    print(i)

cursor.close()
conn.close()

# PyODb_Inserting Pandas DataFrames into a Database Using the to_sql

In [20]:
# # Inserting Pandas DataFrames into a Database Using the to_sql
import cx_Oracle
import pandas as pd
from sqlalchemy import create_engine

irisData = pd.read_csv('https://github.com/Muhd-Shahid/Write-Raw-File-into-Database-Server/raw/main/iris.csv', index_col=False)

# cx_Oracle.init_oracle_client(lib_dir=r"C:\Oracle\instantclient_21_3")

# TRAINEE19/TRAINEE19@//192.168.0.99:1521/rmclient
engine = create_engine('oracle+cx_oracle://TRAINEE19:TRAINEE19@192.168.0.99:1521/?service_name=rmclient')
# Insert whole DataFrame into Oracle DB
irisData.to_sql('iris2', engine, if_exists='replace', index=False)
print("Record inserted successfully")

# Query the database to check our work
conn = engine.connect()
data = conn.execute("SELECT * FROM iris2")
iris_df = pd.DataFrame(data.fetchall())
iris_df.columns = data.keys()
print(iris_df.head())
conn.close()

Record inserted successfully
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa